{{- if .IsHome -}}
<link rel="alternate" hreflang="en-US" href="https://us.reima.com/" />
<link rel="alternate" hreflang="en-CA" href="https://www.reima.ca/" />
<link rel="alternate" hreflang="fr-CA" href="https://www.reima.ca/fr/" />
<link rel="alternate" hreflang="ja-JP" href="https://www.reimajapan.com/" />
<link rel="alternate" hreflang="en" href="https://www.reima.com/int" />
<link rel="alternate" hreflang="de-AT" href="https://www.reima.com/at" />
<link rel="alternate" hreflang="de-CH" href="https://www.reima.com/ch" />
<link rel="alternate" hreflang="de-DE" href="https://www.reima.com/de" />
<link rel="alternate" hreflang="da" href="https://www.reima.com/dk" />
<link rel="alternate" hreflang="fi" href="https://www.reima.com/fi" />
<link rel="alternate" hreflang="no" href="https://www.reima.com/no" />
<link rel="alternate" hreflang="pl" href="https://www.reima.com/pl" />
<link rel="alternate" hreflang="sv" href="https://www.reima.com/se" />
{{- end -}}
