<section class="product-list{{if .center}} product-list--center{{end}}">

  <!-- get the collection content page -->
  {{ $collectionPage := . }}
  {{ if not .File }}
  {{ $collectionPage = site.GetPage (printf "/collections/%s" .collection) }}
  {{ end }}

  {{ with $collectionPage }}

  {{ if not $.File }}
  <h2>{{$.title}}</h2>
  {{ end }}

  <ul>
    {{ range .Pages }}
    {{ $link := partial "link" .RelPermalink }}
    {{ with site.GetPage (printf "/products/%s" .File.ContentBaseName) }}
    <li href="{{$link}}" class="{{if not .Params.available}}sold-out{{end}}">
      {{ with .Resources.ByType "image" | first 1 }}
      {{partial "image" (dict "image" (index . 0) "widths" "200,400")}}
      {{ end }}
      <div class="color-dots">
        {{ $coloroption := "Color" }}
        {{ with site.Params.coloroption }}
        {{ $coloroption = . }}
        {{ end }}
        {{ range (apply (apply .Params.variants "index" "." "options") "index" "." $coloroption) | uniq }}
        {{ with . }}
        {{ with (index site.Data.colors (. | lower)) }}
        <div style="background-color: {{.}};"></div>
        {{ else }}
        {{ warnf "Could not find color %s" .}}
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
      <h3>
        <a class="silent-link stretched-link" href="{{$link}}">{{.Title}}</a>
      </h3>
      <div>
        {{partial "product-price" .Params}}
      </div>
      {{ with .Params.reviewsBottomline }}
      <div class="product-list__rating">
        {{ range seq (math.Round .average) }}★{{ end }}
        <span>{{ div (math.Round (mul .average 10)) 10 }}</span>
        <span>({{.count}})</span>
      </div>
      {{ end }}
      <div class="sold-out-tag">Sold Out</div>
    </li>
    {{ else }}
    {{ warnf "Could not find product %s (%s %s %s)" .File.ContentBaseName .Dir .Kind .Type }}
    {{ end }}
    {{ end }}
  </ul>

  {{ else }}
  <p>No products found</p>
  {{ end }}
</section>