{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "import/extensions": ["error", "ignorePackages"],
    "prefer-spread": "off",
    "prefer-object-spread": "off"
  },
  "ignorePatterns": "assets/js"
}