.module-banner {
  padding: calc(var(--content-padding) / 2) max(var(--content-padding) / 2, (100% - 768px) / 2);
  background: var(--color-bg-inverted);
  color: var(--color-text-inverted);
  letter-spacing: normal;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.module-banner > :first-child {
  flex: 1 1 200px;
  max-width: max-content;
}

.module-banner > * {
  margin: calc(var(--content-padding) / 2);
}

.module-banner h3 {
  margin: 0;
}

.module-banner h3 em {
  font-style: normal;
  color: var(--color-text-emphasis-inverted);
}

@media (min-width: 768px) {
  .module-banner h3 {
    margin-bottom: 0.625rem;
  }
}
