.module-banner {
  padding: var(--content-padding);
  background: var(--color-fg);
  color: white;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.module-banner > :first-child {
  flex: 1;
  max-width: 480px;
}

.module-banner h3 {
  margin: 0;
}

.module-banner h3 em {
  font-style: normal;
  color: var(--color-reima-deep-yellow);
}

@media (min-width: 768px) {
  .module-banner {
    /* padding: 1.5rem; */
  }

  .module-banner h3 {
    margin-bottom: 0.625rem;
  }
}

@media (min-width: 992px) {
  .module-banner {
    /* margin-top: 1rem; */
  }
}
