.content-table {
  padding: var(--block-padding);
  margin: var(--block-margin);
  max-width: var(--block-width);
  font-size: var(--text-font-size);
}

.content-table__container {
  overflow: auto;
}

.content-table table {
  white-space: nowrap;
  table-layout: auto;
  border-collapse: collapse;
  border: var(--border);
  font-size: 0.875rem;
}

.content-table table tr:nth-child(even):not(:first-child) {
  background-color: var(--color-bg-accent);
}

.content-table th,
.content-table td {
  padding: 0.75rem 0.5rem;
  border: var(--border);
  white-space: nowrap;
}

.content-table table thead th,
.content-table table thead td {
  background-color: var(--color-bg-inverted);
  border-color: var(--color-bg-inverted-accent);
  color: white;
}

@media (min-width: 992px) {
  .content-table table td,
  .content-table table th {
    padding: 1rem 0.75rem;
  }
}
