<form action="https://shopify-subscribe.reima.workers.dev" class="airy module-form">
  <h2>{{.title}}</h2>
  <p>{{.description}}</p>

  {{ $tags := delimit .tags "," }}
  <input type="hidden" name="tags" value="{{ $tags }}">

  {{ range $index, $field := .fields }}
    {{ if eq $field.type "checkbox" }}
      <label>
        <input type="{{ $field.type }}" class="form-field" name="{{ $field.name }}" {{ if $field.checked }}checked{{ end }} {{ if $field.required }}required{{ end }}>
        {{ $field.placeholder }}
      </label>
    {{ else }}
      <input type="{{ $field.type }}" class="form-field" placeholder="{{ $field.placeholder }}" name="{{ $field.name }}" {{ if $field.required }}required{{ end }}>
      {{ if eq $field.type "tel" }}
      <div id="phone_error" class="error hidden">{{ T "Form phone validation error" | default "Please enter a valid phone number" }}</div>
      {{ end }}
    {{ end }}
  {{ end }}


  <div consent>
    <label>
      <input type="checkbox" name="consent" required>
      <div class="md">{{T "Newsletter TOS Consent" | site.Home.RenderString}}</div>
    </label>
    <p failure></p>
    <div>
      <button id="submit" type="submit" class="button btn btn--cta">{{ .submitCta }}</button>
    </div>
  </div>

  <p success>{{.thankYouMessage | site.Home.RenderString}}</p>
</form>
