.hero {
  --overlay-bg: rgba(255,255,255,0.4);
  color: var(--color-text);
  font-size: var(--text-font-size);
  max-width: var(--content-max-width);
  padding: 0;
  text-align: center;
  position: relative;
}

.hero--full-width {
  max-width: 100%;
  padding: 0;
  margin-top: 0;
}

.hero__text-container {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.hero__text {
  padding: var(--content-padding);
}

.hero__text > :first-child {
  margin-top: 0;
}

.hero__text > :last-child {
  margin-bottom: 0;
}

.hero h1:not(.hero--overlay-small) {
  margin-bottom: 1rem;
}

.hero h1 + .btn {
  margin-top: 1rem;
}

.hero--overlay-mobile-left .hero__text-container {
  justify-content: flex-start;
  text-align: left;
}

.hero--overlay-mobile-right .hero__text-container {
  justify-content: flex-end;
  text-align: right;
}

.hero--overlay-right .hero__text,
.hero--overlay-left .hero__text,
.hero--overlay-center .hero__text,
.hero--overlay-mobile-right .hero__text,
.hero--overlay-mobile-left .hero__text {
  flex-basis: calc(50% - 2 * var(--content-padding));
}

.hero--overlay-top .hero__text-container {
  align-items: flex-start;
}

.hero--overlay-bottom .hero__text-container {
  align-items: flex-end;
}

.hero--overlay-small .hero__text {
  flex-basis: 33%;
}

.hero--overlay-mobile .hero__text-container {
  position: absolute;
  display: flex;
  padding: inherit;
}  

.hero--overlay-mobile.hero--overlay-invert {
  --color-text: white;
  --color-bg: var(--color-fg);
}

.hero__video-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.hero__video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.hero__video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .hero {
    --h1-font-size: var(--h0-font-size);
    padding: var(--block-padding);
    margin: var(--block-margin);
  }  
  
  .hero__text-container {
    position: absolute;
    display: flex;
    padding: inherit;
  }

  .hero--overlay-right .hero__text-container {
    justify-content: flex-end;
  }

  .hero--overlay-left .hero__text-container {
    justify-content: flex-start;
  }

  .hero--overlay-center .hero__text-container {
    justify-content: center;
  }
  
  .hero--overlay-invert {
    --color-text: white;
    --color-bg: var(--color-fg);
    --overlay-bg: rgba(0,0,0,0.4);
  }

  .hero--overlay-bg .hero__text {
    --content-padding: 4rem;
    background-image:
      /* main top-down */
      linear-gradient(to bottom,
        transparent 0%,
        var(--overlay-bg) var(--content-padding),
        var(--overlay-bg) calc(100% - var(--content-padding)),
        transparent 100%
      ),
      /* left edge */
      linear-gradient(to left, var(--overlay-bg), transparent),
      /* right edge */
      linear-gradient(to right, var(--overlay-bg), transparent),
      /* top-left corner */
      radial-gradient(
        circle farthest-side at 100% 100%,
        var(--overlay-bg) 0%, 
        transparent 100%
      ),
      /* top-right corner */
      radial-gradient(
        circle farthest-side at 0 100%,
        var(--overlay-bg) 0%, 
        transparent 100%
      ),
      /* bottom-right corner */
      radial-gradient(
        circle farthest-side at 0 0,
        var(--overlay-bg) 0%, 
        transparent 100%
      ),
      /* bottom-left corner */
      radial-gradient(
        circle farthest-side at 100% 0,
        var(--overlay-bg) 0%, 
        transparent 100%
      );
    background-size: 
      calc(100% - 2 * var(--content-padding)),
      var(--content-padding) calc(100% - 2 * var(--content-padding)),
      var(--content-padding) calc(100% - 2 * var(--content-padding)),
      var(--content-padding) var(--content-padding),
      var(--content-padding) var(--content-padding),
      var(--content-padding) var(--content-padding),
      var(--content-padding) var(--content-padding);
    background-position: 
      center,
      top var(--content-padding) left 0,
      top var(--content-padding) right 0,
      top 0 left 0,
      top 0 right 0,
      bottom 0 right 0,
      bottom 0 left 0;
    background-repeat: no-repeat;
  }

  .hero--overlay-align-left .hero__text-container {
    text-align: left;
  }

  .hero--overlay-align-right .hero__text-container {
    text-align: right;
  }

  .hero--overlay-align-center .hero__text-container {
    text-align: center;
  }
}

.hero.hero--overlay-small h1 {
  font-size: var(--h4-font-size);
}