{{ $class := "hero" }}
{{ with .overlayhorizontal }}
{{ $class = printf "%s hero--overlay-%s" $class . }}
{{ end }}
{{ with .overlayvertical }}
{{ $class = printf "%s hero--overlay-%s" $class . }}
{{ end }}
{{ with .overlaymobile }}
{{ $class = printf "%s hero--overlay-mobile hero--overlay-mobile-%s" $class . }}
{{ end }}
{{ with .overlayalign }}
{{ $class = printf "%s hero--overlay-align-%s" $class . }}
{{ end }}
{{ if .overlaysmall }}
{{ $class = printf "%s hero--overlay-small" $class }}
{{ end }}
{{ if .overlayinvert }}
{{ $class = printf "%s hero--overlay-invert" $class }}
{{ end }}
{{ if .overlaybg }}
{{ $class = printf "%s hero--overlay-bg" $class }}
{{ end }}
{{ if .fullwidth }}
{{ $class = printf "%s hero--full-width" $class }}
{{ end }}
{{ if .narrow }}
{{ $class = printf "%s hero--narrow" $class }}
{{ end }}
{{ with .yellow_emphasis }}
{{ $class = printf "%s hero--yellow-emphasis" $class }}
{{ end }}
<div class="{{$class}}">
  <!-- default padding-top for videos -->
  {{- $padding_top := "56.25%" }}
  {{- if eq .type "Youtube Video" }}
  <div class="hero__video-container" style="padding-top: {{$padding_top}};">
    {{- $src := printf "https://www.youtube.com/embed/%s" .youtubeid }}
    {{- $qry := slice }}
    {{- if .youtubeautoplay }}{{ $qry = $qry | append "autoplay=1" }}{{end}}
    {{- if .youtubenocontrols }}{{ $qry = $qry | append "controls=0" }}{{end}}
    {{- if .youtubeloop }}{{ $qry = $qry | append (printf "loop=1&playlist=lJIrF4YjHfQ") }}{{end}}
    <iframe width="560" height="315" src="{{$src}}{{with $qry}}?{{delimit . "&" | safeURL}}{{end}}" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  {{- else if eq .type "Vimeo Video" }}
  {{- $vimeobg := .vimeobg}}
  {{- $padding_top_mobile := $padding_top}}
  <!-- if Vimeo mobile aspect ratio is defined -->
  {{- with .vimeo_aspect_ratio_mobile }}
  {{- $padding_top_mobile = partial "helpers/get-video-padding" .}}
  {{- end }}
  <!-- if Vimeo aspect ratio is defined -->
  {{- with .vimeo_aspect_ratio }}
  {{- $padding_top = partial "helpers/get-video-padding" .}}
  {{- end }}

  <!-- Vimeo iframe desktop, default.  -->
  <div class="hero__video-container vimeo {{with .vimeoid_mobile}}with-mobile{{end}}" style="padding-top: {{$padding_top}};">
    <iframe src="https://player.vimeo.com/video/{{.vimeoid}}{{if .vimeobg}}?background=1{{end}}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div>
  <!-- Vimeo iframe mobile, renders only in devices under 768px width -->
  {{- with .vimeoid_mobile}}
  <div class="hero__video-container vimeo mobile" style="padding-top: {{$padding_top_mobile}};">
    <iframe src="https://player.vimeo.com/video/{{.}}{{if $vimeobg}}?background=1{{end}}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div>
  {{- end}}

  {{- else }}

  <!-- see if we should lazy load (if this second or later module on page) -->
  {{- $lazyload := gt .modulenr 0}}
  <!-- get mobile image if exists -->
  {{- $mobile := false }}
  {{- with .imagemobile }}
  {{- $mobile = partial "helpers/get-image" . }}
  {{- end }}
  <!--  Create alt text, defaults to image filename if no specified alt text -->
  {{- $alt := ""}}
  <!-- get main image -->
  {{- with .image }}
  {{- with partial "helpers/get-image" . }}
  {{- $params := (dict "image" . "widths" "2160,1080,768") }}
  {{- $default := . -}}
  <picture>
    <!--
      Regarding `sizes`:
      Assume the hero image spans the entire viewport but has a max width of 1280px.
      This is close enough, although in reality there are paddings of 1.5-2rem.
      `sizes` is only needed for the tablet+ source.
     -->
    <source media="(min-width: 768px)" sizes="min(100vw, 1280px)" {{if $lazyload}}data-{{end -}}srcset="{{partial "srcset" $params}}">
    {{- with $mobile }}
    <source {{if $lazyload}}data-{{end -}}srcset="{{partial "srcset" (dict "image" . "widths" "1080,768")}}">
    {{- else }}
    <source {{if $lazyload}}data-{{end -}}srcset="
      {{- .RelPermalink}}?nf_resize=fit&w=375&h=375 375w,
      {{- .RelPermalink}}?nf_resize=fit&w=750&h=750 750w,
      {{- .RelPermalink}}?nf_resize=fit&w=1080&h=1080 1080w,
      {{- .RelPermalink}}?nf_resize=fit&w=1500&h=1500 1500w">
    {{- end }}
    <img class="lazyload" {{if $lazyload}} loading="lazy"
      srcset="data:image/svg+xml,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20{{$default.Width}}%20{{$default.Height}}'></svg>"
      {{end}} src="{{$default.RelPermalink}}?nf_resize=fit&w=1080" alt="{{$alt}}" />
  </picture>
  <noscript>
    <img {{if $lazyload}}loading="lazy" {{end}} srcset="{{partial "srcset" $params}}" src="{{$default.RelPermalink}}?nf_resize=fit&w=1080"
      alt="{{$alt}}"/>
  </noscript>
  {{- end }}
  {{- else }}
  {{- warnf "No image found for hero module on page %s" $.pageobj.Path }}
  {{- end }}

  {{- end }}

  {{- if or .heading .text .link }}
  <div class="hero__text-container">
    <div class="hero__text">
      {{ with .heading }}<h1>{{. | $.pageobj.RenderString}}</h1>{{ end }}
      {{ with .text }}<p>{{. | $.pageobj.RenderString}}</p>{{ end }}
      {{ if .link }}
      <a href="{{partial "helpers/get-link-module" (slice .link $)}}" class="btn{{with .linkmodifier}} btn--{{.}}{{end}}">{{.linktext}}</a>
      {{ end }}
    </div>
  </div>
  {{- end }}
</div>
