.image-grid {
  --grid-column-width: 150px;
  --grid-template-columns: repeat(auto-fit, minmax(var(--grid-column-width), 1fr));
  max-width: 1280px;
  padding: var(--block-padding);
  margin: var(--block-margin);
}

.image-grid__col-mobile-1 {
  --grid-column-width: 250px;
}

@media (min-width: 992px) {
  .image-grid {
    --grid-column-width: 250px;
  }
}

.image-grid > h2 {
  text-align: center;
}

.image-grid ul {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  gap: var(--content-padding);
  padding: 0;
  margin: 0;
  list-style: none;
}

.image-grid ul h3 {
  font-size: var(--h4-font-size);
  margin: 1rem 0;
}

.image-grid__zoom-container {
  overflow: hidden;
  display: block;
}

.image-grid__zoom-container img {
  transition: transform .3s ease-out;
}

.image-grid__zoom-container img:hover {
  transform: scale(1.08);
}

.image-grid__link {
  text-align: center;
  margin: var(--content-padding) 0;
}

.image-grid__modal {
  display: none;
}

.image-grid__modal .icon {
  background: white;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.image-grid .open .image-grid__modal {
  display: flex;
  background: rgba(0,0,0,.5);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
  padding: var(--content-padding);
  /* need to unset these because of the .overlay class */
  width: unset;
  height: unset;
}

.image-grid .open .image-grid__modal > div {
  position: relative;
  max-width: 800px;
  background: #fff;
  padding: var(--content-padding);
  max-height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--content-padding);
  align-items: center;
}