.image-grid {
  --columns-mobile: 2;
  --columns-tablet: 3;
  --columns-desktop: 4;
  --columns: var(--columns-mobile);
  max-width: 1280px;
  padding: var(--block-padding);
  margin: var(--block-margin);
}

.image-grid__col-mobile-1 {
  --columns-mobile: 1;
}

.image-grid__col-desktop-3 {
  --columns-desktop: 3;
}

@media (min-width: 768px) {
  .image-grid {
    --columns: var(--columns-tablet);
  }
}

@media (min-width: 992px) {
  .image-grid {
    --columns: var(--columns-desktop);
  }
}

.image-grid > h2 {
  text-align: center;
}

.image-grid ul {
  padding: 0;
  list-style: none;
  display: flex;
  margin: calc(var(--content-padding) / -2);
  flex-wrap: wrap;
}

.image-grid li {
  padding: calc(var(--content-padding) / 2);
  box-sizing: border-box;
  width: calc(100% / var(--columns));
}

.image-grid ul h3 {
  font-size: var(--h4-font-size);
  margin: 1rem 0;
}

.image-grid__container {
  overflow: hidden;
  display: block;
}

.image-grid--effect-zoom .image-grid__container img {
  transition: transform 0.3s ease-out;
}

.image-grid--effect-zoom .image-grid__container img:hover {
  transform: scale(1.08);
}

.image-grid__link {
  text-align: center;
  margin: var(--content-padding) 0;
}

.image-grid__modal {
  transition: opacity 0.5s, visibility 0s 0.5s;
  display: flex;
  visibility: hidden;
  opacity: 0;
  background: var(--color-overlay-bg);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
  padding: var(--content-padding);
}

.image-grid__modal:target {
  transition: opacity 0.5s, visibility 0s;
  visibility: visible;
  opacity: 1;
}

.image-grid__modal > div {
  position: relative;
  max-width: 800px;
  background: white;
  padding: var(--content-padding);
  max-height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--content-padding);
  align-items: center;
}

/* this is the background close link */
.image-grid__modal > a {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  cursor: default;
}

.image-grid__modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  /* hack to get rid of extra margin from the svg, which is inline by default */
  display: flex;
}

.image-grid__show-more {
  align-self: center;
  flex: 1;
  text-align: center;
  margin: 0.5rem;
}

.image-grid__show-more ~ li {
  display: none;
}

.image-grid__show-more-chk {
  position: fixed;
  opacity: 0;
  left: -100px;
}

.image-grid__show-more-chk:checked ~ li {
  display: block;
}

.image-grid__show-more-chk:checked + .image-grid__show-more {
  display: none;
}

@media (min-width: 768px) {
  .image-grid__show-more {
    display: none;
  }

  .image-grid__show-more ~ li {
    display: block;
  }
}

.image-grid__last-fill {
  flex: 1;
}

.image-grid__last-fill > div {
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: var(--color-bg-accent);
  padding: 0 0.5rem;
}

.image-grid__last-fill--links-cta a {
  background: var(--color-primary);
  color: var(--color-text-on-primary);
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  line-height: var(--text-line-height);
  padding: 0.6875rem 1.5rem;
  text-decoration: none;
  transition: 0.2s;
}

.image-grid__last-fill--links-cta a:hover,
.image-grid__last-fill--links-cta a:focus {
  background: var(--color-primary-accent);
  color: var(--color-text-on-primary);
}
