.module-image-links-small {
  padding: var(--block-padding);
  margin: var(--block-margin);
  max-width: var(--block-width);
}

.module-image-links-small > div {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, 120px);
  text-align: center;
  gap: calc(var(--content-padding) / 2);
}