{{ $class := "module-image-links-small" }}
{{ with .align }}
{{ $class = printf "%s module-image-links-small--align-%s" $class . }}
{{ end }}
{{ with .columnstablet }}
{{ $class = printf "%s module-image-links-small--tablet-%v" $class . }}
{{ end }}
{{ with .columnsdesktop }}
{{ $class = printf "%s module-image-links-small--desktop-%v" $class . }}
{{ end }}

{{- $menu := .menu}}
<div class="{{$class}}">
  {{ if .heading }}
  <h2>
    {{.heading}}
  </h2>
  {{ end }}
  {{ if .carousel_enabled }}
  {{ $carousel_autoplay_speed := 7000 }}
  {{- if .carousel_autoplay_speed }}
  {{ $carousel_autoplay_speed = .carousel_autoplay_speed }}
  {{- end }}
  {{ partial "carousel.html" (dict "slides" .images "items_mobile" 2 "items_tablet" .columnstablet "items_desktop" .columnsdesktop "carousel_dots" .carousel_dots "carousel_arrows" .carousel_arrows "carousel_autoplay" .carousel_autoplay "carousel_autoplay_speed" $carousel_autoplay_speed) }}
  {{- else }}
  <div>
    {{ range .images }}
    <div>
      <a href="{{partial "helpers/get-link-module" (slice .link $)}}" class="silent-link text-sm">
         <!-- Module images in mobile menu needs different sizes -->
        {{ if $menu }}
        {{ $sizes := "(min-width: 768px) 873px, (min-width: 480px) 512px, 316px" }}
        {{ partial "img" (dict "image" .image "widths" "158,316,512,873" "sizes" $sizes) }}
          <!-- Module images in body  -->
        {{ else }}
        {{ $sizes := "158px" }}
        {{ partial "img" (dict "image" .image "widths" "158,316" "sizes" $sizes) }}
        {{ end }}
       <span class="title">{{ .title }}</span>
      </a>
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>
