{{- $class := "image-grid" }}
{{- with .columnsmobile }}
{{- $class = printf "%s image-grid__col-mobile-%v" $class . }}
{{- end }}
{{- with .columnsdesktop }}
{{- $class = printf "%s image-grid__col-desktop-%v" $class . }}
{{- end }}
{{- $popup := .popup }}
{{- if $popup }}
{{- $class = printf "%s image-grid--modal" $class }}
{{- end }}

<!-- set up sizes attr -->
{{ $cols_mobile := 2 }}
{{ $cols_tablet := 3 }}
{{ $cols_desktop := 4 }}
{{ with .columnsmobile }}
{{ $cols_mobile = int . }}
{{ end }}
{{ with .columnsdesktop }}
{{ $cols_desktop = int . }}
{{ end }}
{{ $vw_mobile := div 100 $cols_mobile }}
{{ $vw_tablet := div 100 $cols_tablet }}
{{ $vw_desktop := div 100 $cols_desktop }}
{{ $sizes := printf "(min-width: 992px) %dvw, (min-width: 768px) %dvw, %dvw" $vw_desktop $vw_tablet $vw_mobile }}

<div class="{{$class}}">
  {{- with .heading }}
  <h2>{{.}}</h2>
  {{- end }}
  <ul>
    {{ $showmore := -1 }}
    {{ if and .showmore .showmoreafter }}
    {{ $showmore = sub (int .showmoreafter) 1 }}
    {{ end }}
    {{ $moretext := default "Show more" .showmoretext }}

    {{ range $i, $img := .images }}
    {{ if and $popup .content }}
    <li modal-opener>
      <a class="image-grid__zoom-container" openid="parent">
        {{- partial "img" (dict "image" .image "widths" "300,600" "sizes" $sizes) }}
      </a>
      <div class="image-grid__modal overlay">
        <div>
          <button class="icon" close>
            <svg>
              <!-- this icon reference comes from the menu -->
              <use xlink:href="#icon-close"></use>
            </svg>
          </button>
          {{ $sizes_popup := "(min-width: 580px) 50vw, 100vw" }}
          {{- partial "img" (dict "image" .image "widths" "300,600" "sizes" $sizes_popup) }}
          <div>
            {{- with .content }}
            {{. | markdownify}}
            {{- end }}
          </div>
        </div>
      </div>
    </li>
    {{ else }}
    <li>
      <div class="image-grid__zoom-container">
        {{- partial "img" (dict "image" .image "widths" "300,600" "sizes" $sizes) }}
      </div>
      {{- with .content }}
      {{. | markdownify}}
      {{- end }}
    </li>
    {{ end }}
    <!-- add show more if specified -->
    {{ if eq $showmore $i }}
    <input type="checkbox" id="image-grid-show-more" name="image-grid-show-more" class="image-grid__show-more-chk"
      autocomplete="off">
    <li class="image-grid__show-more">
      <label for="image-grid-show-more" class="link">
        {{$moretext}}
      </label>
    </li>
    {{ end }}
    {{ end }}
    {{ if .lastfill }}
    <li class="image-grid__last-fill{{with .lastfilllinks}} image-grid__last-fill--links-{{.}}{{end}}">
      <div>
        <div>
          {{.lastfilltext | markdownify}}
        </div>
      </div>
    </li>
    {{ end }}
  </ul>
  {{ if .link }}
  <div class="image-grid__link">
    <a href="{{.linkurl}}" class="btn{{with .linkmodifier}} btn--{{.}}{{end}}">
      {{.linktext}}
    </a>
  </div>
  {{ end }}
</div>