<div class="module-image-links-small">
  <h2>
    {{.heading}}
  </h2>
  <div>
    {{ range .images }}
    <div>
      <a href="{{.link}}/" class="silent-link text-sm">
      <!-- 
        we really don't know how grid columns are going to be laid out,
        but we know they are 100-200px, so assume width of 200px
       -->
        {{ $sizes := "200px" }}
        {{ partial "img" (dict "image" .image "widths" "100,200,400" "sizes" $sizes) }}
        {{ .title }}
      </a>
    </div>
    {{ end }}
  </div>
</div>