{{- $class := "image-grid" }}
{{- with .columnsmobile }}
{{- $class = printf "%s image-grid__col-mobile-%v" $class . }}
{{- end }}
{{- with .columnsdesktop }}
{{- $class = printf "%s image-grid__col-desktop-%v" $class . }}
{{- end }}
{{- $popup := .popup }}
{{- if $popup }}
{{- $class = printf "%s image-grid--modal" $class }}
{{- end }}

<!-- set up sizes attr -->
{{ $cols_mobile := 2 }}
{{ $cols_tablet := 3 }}
{{ $cols_desktop := 4 }}
{{ with .columnsmobile }}
{{ $cols_mobile = int . }}
{{ end }}
{{ with .columnsdesktop }}
{{ $cols_desktop = int . }}
{{ end }}
{{ $vw_mobile := div 100 $cols_mobile }}
{{ $vw_tablet := div 100 $cols_tablet }}
{{ $vw_desktop := div 100 $cols_desktop }}
{{ $sizes := printf "(min-width: 992px) %dvw, (min-width: 768px) %dvw, %dvw" $vw_desktop $vw_tablet $vw_mobile }}

<!-- get grid id for opening modal -->
{{ $grid_id := "" }}
<!-- by default, use slug of heading -->
{{ with .heading }}
{{ $grid_id = . | anchorize }}
<!-- otherwise create 4 digit hash from stringified module config -->
{{ else }}
{{ $grid_id = slicestr ((printf "%s" .) | sha1) 36 }}
{{ end }}

<div class="{{$class}}">
  {{- with .heading }}
  <h2>{{.}}</h2>
  {{- end }}
  <ul>
    {{ $showmore := -1 }}
    {{ if and .showmore .showmoreafter }}
    {{ $showmore = sub (int .showmoreafter) 1 }}
    {{ end }}
    {{ $moretext := default "Show more" .showmoretext }}

    <!-- store image id's here in order to detect duplicates -->
    {{ $image_ids := slice }}

    {{ range $i, $img := .images }}
    {{ if and $popup .content }}

    <!-- get first line with content and anchorize -->
    {{ $image_id := (index (split (trim .content "\n") "\n") 0) | anchorize}}
    <!-- if this is a duplicate, append the index -->
    {{ if in $image_ids $image_id }}
    {{ $image_id = printf "%s-%d" $image_id $i }}
    <!-- otherwise add this id to the list of used ids -->
    {{ else }}
    {{ $image_ids = $image_ids | append $image_id }}
    {{ end }}
    <!-- get full image id for opening modal -->
    {{ $modal_id := printf "%s%s" $grid_id $image_id }}

    <li>
      <a class="image-grid__zoom-container" href="#{{$modal_id}}" onclick="document.body.style.overflow = 'hidden'">
        {{- partial "img" (dict "image" .image "widths" "300,600" "sizes" $sizes) }}
      </a>
      <aside class="image-grid__modal" id="{{$modal_id}}">
        <a href="#/" tabindex="-1" onclick="document.body.style.overflow = ''"></a>
        <div>
          <a class="image-grid__modal-close" href="#/" onclick="document.body.style.overflow = ''">
            <svg width="20" height="20">
              <!-- this icon reference comes from the menu -->
              <use xlink:href="#icon-close"></use>
            </svg>
          </a>
          {{ $sizes_popup := "(min-width: 580px) 50vw, 100vw" }}
          {{- partial "img" (dict "image" .image "widths" "300,600" "sizes" $sizes_popup) }}
          <div>
            {{- with .content }}
            {{. | markdownify}}
            {{- end }}
          </div>
        </div>
      </aside>
    </li>
    {{ else }}
    <li>
      <div class="image-grid__zoom-container">
        {{- partial "img" (dict "image" .image "widths" "300,600" "sizes" $sizes) }}
      </div>
      {{- with .content }}
      {{. | markdownify}}
      {{- end }}
    </li>
    {{ end }}
    <!-- add show more if specified -->
    {{ if eq $showmore $i }}
    <input type="checkbox" id="image-grid-show-more" name="image-grid-show-more" class="image-grid__show-more-chk"
      autocomplete="off">
    <li class="image-grid__show-more">
      <label for="image-grid-show-more" class="link">
        {{$moretext}}
      </label>
    </li>
    {{ end }}
    {{ end }}
    {{ if .lastfill }}
    <li class="image-grid__last-fill{{with .lastfilllinks}} image-grid__last-fill--links-{{.}}{{end}}">
      <div>
        <div>
          {{.lastfilltext | markdownify}}
        </div>
      </div>
    </li>
    {{ end }}
  </ul>
  {{ if .link }}
  <div class="image-grid__link">
    <a href="{{.linkurl}}" class="btn{{with .linkmodifier}} btn--{{.}}{{end}}">
      {{.linktext}}
    </a>
  </div>
  {{ end }}
</div>