<section id="milestones" class="milestones content-container-mobile">
    <h3 class="g-h4">{{.heading}}</h3>
    <ol class="milestones__about-timeline">
        {{- range .milestones }}
        <!--  Create alt text, defaults to image filename if no specified alt text -->
        {{- $alt := "" }}
        <li>
            <div class="milestones__media">
                <div class="milestones__media-left">
                    <div class="milestones__about-timeline-img">
                        {{- with partial "helpers/get-image" .image }}
                            <img class="lazyload" loading="lazy" data-srcset="
                                {{- .RelPermalink}}?nf_resize=smartcrop&w=70&h=70 70w,
                                {{- .RelPermalink}}?nf_resize=smartcrop&w=140&h=140 140w,
                                {{- .RelPermalink}}?nf_resize=smartcrop&w=100&h=100 100w,
                                {{- .RelPermalink}}?nf_resize=smartcrop&w=200&h=200 200w"
                                sizes="(min-width: 768px) 100px, 70px"
                                data-src="{{.RelPermalink}}?nf_resize=smartcrop&w=100&h=100" alt="{{$alt}}" />
                        {{ end }}
                    </div>
                </div>
                <div class="milestones__media-body milestones__media-middle">
                    <div class="milestones__about-timeline-year">{{.year}}</div>
                    {{- with .heading }}
                    <h5 class="milestones__about-timeline-heading">{{.}}</h5>
                    {{- end }}
                    {{- with .text }}
                    <p class="milestones__about-timeline-text">{{.}}</p>
                    {{- end }}
                    {{- if .link }}
                    <a href="{{partial "helpers/get-link-module" (slice .link $)}}" {{if .externalLink}}target="_blank" {{end}}
                        class="{{if .externalLink}}milestones__external-link{{end}} {{if .stretchedLink}}stretched-link{{end}}">
                        {{- .linktext }}
                        {{- if .externalLink }}
                        <span class="milestones__external-link-icon">
                            <svg viewBox="0 0 32 32">
                                <path
                                    d="M14 4h-13v18h20v-11h1v12h-22v-20h14v1zm10 5h-1v-6.293l-11.646 11.647-.708-.708 11.647-11.646h-6.293v-1h8v8z">
                                </path>
                            </svg>
                        </span>
                        {{- end }}
                    </a>
                    {{- end }}
                </div>
            </div>
        </li>
        {{- end }}
    </ol>
</section>
