<section id="milestones" class="milestones content-container-mobile">
    <h3 class="h4">{{.heading}}</h3>
    <ol class="milestones__about-timeline">
        {{ range .milestones }}
        <li>
            <div class="milestones__media">
                <div class="milestones__media-left">
                    <div class="milestones__about-timeline-img">
                        {{ with partial "helpers/get-image" .image }}
                            <img class="lazyload" loading="lazy"
                            data-srcset="{{(.Fill "70x70").RelPermalink}} 70w,
                            {{(.Fill "140x140").RelPermalink}} 140w,
                            {{(.Fill "100x100").RelPermalink}} 100w,
                            {{(.Fill "200x200").RelPermalink}} 200w"
                            sizes="(min-width: 768px) 100px, 70px"
                            data-src="{{(.Fill "100x100").RelPermalink}}" alt="" />
                        {{ end }}
                    </div>
                </div>
                <div class="milestones__media-body milestones__media-middle">
                    <div class="milestones__about-timeline-year">{{.year}}</div>
                    {{ with .heading }}
                    <h5 class="milestones__about-timeline-heading">{{.}}</h5>
                    {{ end }}
                    {{ with .text }}
                    <p class="milestones__about-timeline-text">{{.}}</p>
                    {{ end }}
                    {{ if .link }}
                    <a href="{{partial "helpers/get-link-module" (slice .link $)}}" {{if .externalLink}}target="_blank" {{end}}
                        class="{{if .externalLink}}milestones__external-link{{end}} {{if .stretchedLink}}stretched-link{{end}}">
                        {{.linktext}}
                        {{ if .externalLink }}
                        <span class="milestones__external-link-icon">
                            <svg viewBox="0 0 32 32">
                                <path
                                    d="M14 4h-13v18h20v-11h1v12h-22v-20h14v1zm10 5h-1v-6.293l-11.646 11.647-.708-.708 11.647-11.646h-6.293v-1h8v8z">
                                </path>
                            </svg>
                        </span>
                        {{ end }}
                    </a>
                    {{ end }}
                </div>
            </div>
        </li>
        {{ end }}
    </ol>
</section>
