.milestones {
  padding: var(--block-padding);
  margin: var(--block-margin);
  max-width: var(--block-width);
}

.milestones__about-timeline {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.milestones__about-timeline::before {
  content: '';
  position: absolute;
  left: 34px;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background-color: #ccc;
}

.milestones__about-timeline li {
  margin-bottom: 2rem;
  position: relative;
}

.milestones__about-timeline li:last-child {
  margin-bottom: 0;
}

.milestones__media {
  display: flex;
  align-items: flex-start;
}

.milestones__media>.milestones__media-left {
  margin-right: .75rem;
}

.milestones__media>.milestones__media-body {
  flex: 1 1 auto;
}

.milestones__media>.milestones__media-middle {
  align-self: center;
}

.milestones__about-timeline-img img {
  border: var(--border);
  padding: 3px;
  width: 70px;
  max-width: none;
  box-shadow: inset 0px 0px 0px 2px #fff;
  border-radius: 50%;
  box-sizing: border-box;
}

.milestones__about-timeline-year {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: .25rem;
}

.milestones__about-timeline-heading,
.milestones__about-timeline-text {
  margin-top: 0;
  margin-bottom: .375rem;
}

.milestones__external-link .milestones__external-link-icon {
  display: inline-block;
  fill: #d2092d;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
}

.milestones__external-link:hover .milestones__external-link-icon {
  fill: #af0f03;
}

@media (min-width: 768px) {
  .milestones__about-timeline::before {
    left: 49px;
  }
  .milestones__about-timeline-img img {
    width: 100px;
  }
  .milestones__about-timeline .milestones__media-body {
    padding-left: 1rem;
  }
  .milestones__about-timeline-year {
    font-size: 1.5rem;
  }
}