.product-list {
  padding: var(--block-padding);
  margin: var(--block-margin);
  max-width: var(--block-width);
}

.product-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.5rem 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
}

.product-list li {
  position: relative;
  text-align: center;
}

.product-list--center {
  text-align: center;
}

.product-list--center ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-list--center li {
  position: relative;
  padding: 0.5rem;
  width: 145px;
}

.product-list li:hover,
.product-list li:focus-within {
  outline: var(--border);
}

.product-list li h3 {
  font-size: 1em;
  letter-spacing: normal;
  margin: 0.25rem 0;
}

.product-list li .color-dots {
  display: flex;
  justify-content: center;
  margin: 0.75rem 0 0.5rem;
}

.product-list li .color-dots > a {
  margin: 0 0.25rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #bfbfbf;
  overflow: hidden;
  z-index: 1;
  color: transparent;
}

.product-list li .color-dots > a img {
  width: 100%;
  height: 100%;
}

.product-list li .color-dots > a.color-dot--see-more {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  line-height: 1rem;
  text-decoration: none;
}

.product-list li .color-dots > a.color-dot--see-more:hover {
  background-color: #BA001F;
  color: #d2092d;
}

.product-list__rating {
  margin-top: 0.25rem;
  font-size: 1rem;
}

.product-list__rating span {
  font-size: 0.75rem;
}

.product-list__rating span + span {
  color: var(--color-gray);
}

/* #region sold out tag and muting */

.product-list li .sold-out-tag {
  display: none;
}

.product-list li.sold-out .sold-out-tag {
  display: block;
  position: absolute;
  padding: 0.25rem 0.5rem;
  top: 0;
  right: 0;
  background: #d2092d;
  color: white;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.product-list li.sold-out img {
  opacity: 0.4;
}

/* #endregion */

@media (min-width: 992px) {
  .product-list ul {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .product-list--center li {
    width: 200px;
  }
}