.product-list {
  padding: var(--block-padding);
  margin: var(--block-margin);
  max-width: var(--block-width);
}

.product-list .price--sale {
  background-color: var(--color-text-emphasis-inverted);
  border-radius: 2px;
  color: var(--color-text);
  padding: 0 .25rem;
  margin-right: .25rem;
}

.product-list .price--sale-tag::before {
  background-color: var(--color-text-emphasis-inverted);
  border-radius: 2px;
  color: var(--color-text);
  font-size: 0.625rem;
  content: attr(data-discount);
  padding: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
}

.product-list__heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -0.5rem;
  margin-left: -2rem;
  margin-bottom: var(--h4-margin-bottom);
}

.product-list__heading h2 {
  flex: 1 1 auto;
  margin-bottom: 0;
}

.product-list__heading > * {
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.product-list__heading a {
  display: none;
}

.product-list__show-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.5rem 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
}

.product-list li {
  position: relative;
  text-align: center;
  z-index: 0;
  padding: 0.5rem 0.25rem;
}

.product-list__product:hover,
.product-list__product:focus-within {
  outline: var(--border);
}

.product-list__product h3 {
  font-size: 0.875rem;
  letter-spacing: normal;
  margin: 0.25rem 0;
}

.product-list__product--sale .product-list__tag {
  right: 0;
  left: inherit;
}

.product-list__swatches {
  display: flex;
  justify-content: center;
  margin: 0.75rem 0;
}

.product-list__swatch {
  margin: 0 0.25rem;
  height: 1rem;
  width: 1rem;
  border: var(--border);
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  color: transparent;
}

.product-list__swatch img {
  width: 100%;
  height: 100%;
}

.product-list__swatch--see-more {
  background-color: var(--color-bg);
  color: var(--color-text);
  border: var(--border);
  font-size: 1.5rem;
  line-height: 1rem;
  text-decoration: none;
}

.product-list__swatch--see-more:hover {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
}

.product-list__rating {
  margin-top: 0.25rem;
}

.product-list__rating span {
  font-size: 0.75rem;
}

.product-list__rating span + span {
  color: var(--color-text-muted);
}

/* #region sold out tag and muting */

.product-list__product--sold-out > img {
  opacity: 0.4;
}

.product-list__sold-out-tag {
  display: block;
  position: absolute;
  padding: 0.25rem 0.5rem;
  top: 0;
  right: 0;
  background: var(--color-bg-inverted);
  color: var(--color-text-inverted);
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.product-list__tag {
  display: block;
  position: absolute;
  padding: 0.25rem 0.5rem;
  top: 0;
  left: 0;
  background: var(--color-bg-accent);
  font-size: 0.625rem;
  text-transform: uppercase;
}

/* #endregion */

/* tablet styles */
@media (min-width: 768px) {
  .product-list__heading a {
    display: initial;
  }

  .product-list__show-all {
    display: none;
  }
}

/* desktop styles */
@media (min-width: 992px) {
  .product-list ul {
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
  }

  .product-list .price--sale-tag::before {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }

  .product-list__tag,
  .product-list__sold-out-tag {
    font-size: 0.75rem;
  }
}
