{{ $class := "product-list" }}
{{ with $.columnstablet }}
{{ $class = printf "%s product-list--tablet-%v" $class . }}
{{ end }}
{{ with $.columnsdesktop }}
{{ $class = printf "%s product-list--desktop-%v" $class . }}
{{ end }}
{{ with .center }}
{{ $class = printf "%s product-list--center" $class . }}
{{ end }}

<section class="{{$class}}">

  <!--
  WARNING!

  if/when updating the logic to get and show products, remember to update the
  `helpers/get-product-impressions.html` partial, since the logic there is
  tied to how the products module data is structured
  -->

  <!-- get the collection content page -->
  {{ $collectionPage := . }}
  {{ if not .File }}
  {{ $collectionPage = site.GetPage (printf "/collections/%s" .collection) }}
  {{ end }}

  {{ with $collectionPage }}

  <!-- get collection child product pages -->
  {{ $productPages := .RegularPages }}
  {{ $product_count := len .RegularPages }}
  <!-- limit results if set -->
  {{ with $.limit }}
  {{ $productPages = $productPages | first . }}
  {{ end }}

  {{ if not $.File }}
  <div class="product-list__heading">
    <h2>{{$.title}}</h2>
    {{ if gt $product_count (len $productPages)}}
    <a href="{{$collectionPage.RelPermalink}}" class="btn btn--sm">
      {{default (T "Product list show all") $.show_all}}
    </a>
    {{ end }}
  </div>
  {{ end }}

  {{ if $.carousel_enabled }}
    {{ $carousel_autoplay_speed := 7000 }}
    {{- if $.carousel_autoplay_speed }}
      {{ $carousel_autoplay_speed = $.carousel_autoplay_speed }}
    {{- end }}
    <div class="carousel" data-items-mobile="2" data-items-tablet="{{ $.columnstablet }}" data-items-desktop="{{ $.columnsdesktop }}" data-autoplay="{{ $.carousel_autoplay }}" data-autoplay-speed="{{ $carousel_autoplay_speed }}" data-dots="{{ $.carousel_dots }}" data-arrows="{{ $.carousel_arrows }}">
  {{ end }}

  <ul data-collection="{{path.Base .File.Dir}}">
    <!-- loop through product pages -->
    {{ range $pageIndex, $page := $productPages  }}
    {{ $linkresolved := partial "link" .RelPermalink }}
    {{ with site.GetPage (printf "/products/%s" .File.ContentBaseName) }}
    {{ $product := . }}

    {{ if $.split_colors }}

    {{ range partial "modules/products-get-colors" $product }}
    {{ partial "modules/products-render-li" (dict "product" $product "url" $linkresolved "pageIndex" $pageIndex "carouselEnabled" $.carousel_enabled "color" .) }}
    {{ end }}

    {{ else }}

    {{ partial "modules/products-render-li" (dict "product" $product "url" $linkresolved "pageIndex" $pageIndex "carouselEnabled" $.carousel_enabled) }}

    {{ end }}

    {{ else }}
    {{ warnf "Could not find product %s (%s %s %s)" .File.ContentBaseName .File.Dir .Kind .Type }}
    {{ end }}
    {{ end }}
    {{ if gt $product_count (len $productPages)}}
    <li class="product-list__show-all">
      <a href="{{$collectionPage.RelPermalink}}" class="btn">
        {{default (T "Product list show all") $.show_all}}
      </a>
    </li>
    {{ end }}
  </ul>

  {{ if $.carousel_enabled }}
    <ol class="dots">
      {{ range $pageIndex, $page := $productPages }}
      <li><a href="#item-{{ add $pageIndex 1 }}"></a></li>
      {{ end }}
    </ol>
    <div class="prev">&lsaquo;</div>
    <div class="next">&rsaquo;</div>
  </div>
  {{ end }}


  {{ else }}
  <p>No products found</p>
  {{ end }}
</section>

<!--
  render product list item
  params: product: product page
          url: link to product page within collection
          pageIndex: page index value
          carouselEnabled: boolean value for enable / disable carousel
          color: color name IF rendering specific color
                 (if falsey, will render color dots
                 if specified, will render color name)
-->
{{ define "partials/modules/products-render-li" }}
{{- $showDiscountPercentageTag := false }}
{{ with site.Data.themesettings }}
{{ if .show_discount_tags }}
{{ $showDiscountPercentageTag = .show_discount_tags }}
{{ end }}
{{ end }}

{{ with .product }}

{{ $product := . }}
{{ $url := $.url }}
{{ $available := .Params.available }}
{{ $priceParams := .Params }}

<!-- change variables if color specified -->
{{ with $.color }}
<!-- link to specific color if needed -->
{{ $coloroption := partialCached "modules/products-get-color-option" "noop" }}
{{ $url = printf "%s?%s=%s" $url $coloroption . }}
<!-- go through all variants and set variables -->
{{ $variants := partial "modules/products-get-variants-in-color" (dict "product" $product "color" .) }}
{{ $available = false }}
{{ $price := (index $variants 0).price }}
{{ $priceFormatted := (index $variants 0).priceFormatted }}
{{ $compareAtPrice := (index $variants 0).compareAtPrice }}
{{ $compareAtPriceFormatted := (index $variants 0).compareAtPriceFormatted }}
{{ $hasPriceRange := (index $variants 0).hasPriceRange }}
{{ range $variants }}
<!-- check availability by color -->
{{ $available = or $available .available }}
<!-- pricing -->
{{ if lt .price $price }}
{{ $price = .price }}
{{ $priceFormatted = .priceFormatted }}
{{ $hasPriceRange = true }}
{{ end }}
{{ if gt .compareAtPrice $compareAtPrice }}
{{ $compareAtPrice = .compareAtPrice }}
{{ $compareAtPriceFormatted = .compareAtPriceFormatted }}
{{ end }}
{{ end }}
<!-- set params for price partial -->
{{ $priceParams = dict
  "price" $price
  "priceFormatted" $priceFormatted
  "compareAtPrice" $compareAtPrice
  "compareAtPriceFormatted" $compareAtPriceFormatted
  "hasPriceRange" $hasPriceRange
}}
{{ end }}

{{ $hasDiscount := gt $priceParams.compareAtPrice $priceParams.price }}

{{ $class := "product-list__product" }}
{{if not $available}}
{{ $class = printf "%s product-list__product--sold-out" $class }}
{{end}}
{{if and $showDiscountPercentageTag $hasDiscount}}
{{ $class = printf "%s product-list__product--sale" $class }}
{{end}}
{{ if $.carouselEnabled }}
{{ $class = printf "%s carousel__item" $class }}
{{end}}

<li href="{{$url}}" class="{{$class}}" handle="{{.File.ContentBaseName}}" data-id="{{if $.carouselEnabled }}item-{{ add $.pageIndex 1}}{{end}}">
  {{ $image := false }}
  {{ $alt := .Title }}
  <!-- grid layout with auto-fit and min 150px cells -->
  <!-- just assume a max of 233px, which is the widest possible before two columns become three -->
  {{ $sizes := "233px" }}
  <!-- if color specified, get image in that color -->
  {{ with $.color }}
  {{ with index (partial "modules/products-get-variants-in-color" (dict "product" $product "color" .)) 0 }}
  {{ $image = index ($.product.Resources.ByType "image") .imageIndex }}
  {{ end }}
  {{ $alt = printf "%s - %s" $alt . }}
  <!-- if no color, get the first product image -->
  {{ else }}
  {{ range .Resources.ByType "image" | first 1 }}
  {{ $image = . }}
  {{ end }}
  {{ end }}
  <!-- render the image -->
  {{ with $image }}
  {{partial "image" (dict "image" . "widths" "200,400" "sizes" $sizes "alt" $alt)}}
  {{ end }}
  <!-- show swatches if no color specified -->
  {{ if not $.color }}
  <div class="product-list__swatches">
    {{ $color_dots := partial "modules/products-get-colors" $product }}
    {{ $show_plus := false }}
    {{ if gt (len $color_dots) 7  }}
    {{ $color_dots = $color_dots | first 6 }}
    {{ $show_plus = true }}
    {{ end }}
    {{ range $color_dots }}
    {{ with . }}
    {{ with partial "helpers/get-color" . }}
    <a href="{{$url}}" {{with .color}}style="background-color: {{.}};" {{end}}
      {{partial "modules/products-get-image-srcset-attr" (dict "color" .name "product" $product)}}
      class="product-list__swatch">
      {{ if .image }}
      <img src="{{.image}}" alt="{{.name}}">
      {{ end }}
    </a>
    {{ end }}
    {{ end }}
    {{ end }}
    {{ if $show_plus  }}
    <a href="{{$url}}" class="product-list__swatch product-list__swatch--see-more">+</a>
    {{ end }}
  </div>
  {{ end }}
  <h3>
    <a class="silent-link stretched-link" href="{{$url}}">{{.Title}}</a>
  </h3>
  <!-- show color name if specified -->
  {{ if $.color }}
  <div>{{$.color}}</div>
  {{ end }}
  <!-- product price -->
  <div>
    {{partial "product-price" $priceParams}}
  </div>
  {{ with partial "helpers/get-reviews-bottomline" .Params.yotpoId }}
  <!-- rating stars -->
  <div class="product-list__rating">
    {{ range seq (math.Round .average) }}★{{ end }}
    <span>{{ div (math.Round (mul .average 10)) 10 }}</span>
    <span>({{.count}})</span>
  </div>
  {{ end }}
  <!-- go through all tags to find "site tags" to show, but only if available -->
  {{ if $available }}
  {{ range .Params.tags }}
  {{ $tag := split . ":" }}
  {{ if eq (index $tag 0) "Site Tag" }}
  <div class="product-list__tag">{{index $tag 1}}</div>
  {{ end }}
  {{ end }}
  <!-- if not available, show sold out tag -->
  {{ else }}
  <div class="product-list__sold-out-tag">{{T "Product sold out tag"}}</div>
  {{ end }}
</li>

{{ end }}
{{ end }}

<!--
  get color codes for specific product
  param: product (main product page)
-->
{{ define "partials/modules/products-get-colors" }}
{{ $coloroption := partialCached "modules/products-get-color-option" "noop" }}
{{ $colors := (apply (apply .Params.variants "index" "." "options") "index" "." $coloroption) | uniq }}
{{ return $colors }}
{{ end }}

<!--
  get product variants in specific color
  params: product: product page
          color: color name
-->
{{ define "partials/modules/products-get-variants-in-color" }}
{{ $coloroption := partialCached "modules/products-get-color-option" "noop" }}
{{ return where .product.Params.variants (printf "options.%s" $coloroption) .color }}
{{ end }}

<!--
  get srcset for product image in the specified color
  params: product: product page
          color: color name (sku code or color option name)
 -->
{{ define "partials/modules/products-get-image-srcset-attr" }}
{{ $srcset := "" }}
{{ $variant := false }}
<!-- get first variant with specified sku color name -->
{{ with where .product.Params.variants "colorCode" .color }}
{{ $variant = index . 0 }}
{{ end }}
<!-- DEPRECATED: get variant based on color option name -->
{{ if not $variant }}
{{ $variant = partial "modules/products-get-color-variant" (dict "variants" .product.Params.variants "color" .color ) }}
{{ end }}
{{ with $variant }}
{{ $image := $.product.Resources.GetMatch (printf "*-%s/*" .productAndColor) }}
<!-- DEPRECATED: if we didn't find an image in the usual way, and the legacy imageIndex is set, use that to get the image -->
{{ if and (not $image) (isset . "imageIndex") }}
{{ $image = index ($.product.Resources.ByType "image") .imageIndex }}
{{ end }}
{{ $srcset = partial "srcset" (dict "image" $image "widths" "200,400") }}
{{ else }}
{{ warnf "Could not get variant in color %s for %s" .color .product }}
{{ end }}
{{ return (printf "data-image-srcset=%q" $srcset | safeHTMLAttr) }}
{{ end }}

<!--
  get product variant from color name
  params: variants: product variants from product page
          color: color name
 -->
{{ define "partials/modules/products-get-color-variant" }}
{{ $coloroption := partialCached "modules/products-get-color-option" "noop" }}
{{ $variant := 0 }}
{{ with .variants }}
{{ range where . (printf "options.%s" $coloroption) $.color }}
{{ $variant = . }}
{{ end }}
{{ else }}
{{ warnf "No variants supplied (color is %s)" $.color }}
{{ end }}
{{ return $variant }}
{{ end }}

<!-- get color option name from site params, defaults to "Color" -->
{{ define "partials/modules/products-get-color-option" }}
{{ $coloroption := "Color" }}
{{ with site.Params.coloroption }}
{{ $coloroption = . }}
{{ end }}
{{ return $coloroption}}
{{ end }}
