<section class="product-list{{if .center}} product-list--center{{end}}">

  <!-- get the collection content page -->
  {{ $collectionPage := . }}
  {{ if not .File }}
  {{ $collectionPage = site.GetPage (printf "/collections/%s" .collection) }}
  {{ end }}

  {{ with $collectionPage }}

  {{ if not $.File }}
  <h2>{{$.title}}</h2>
  {{ end }}

  <ul>
    <!-- get collection child product pages -->
    {{ $productPages := .Pages }}
    <!-- limit results if set -->
    {{ with $.limit }}
    {{ $productPages = $productPages | first . }}
    {{ end }}
    <!-- loop through product pages -->
    {{ range $productPages }}
    {{ $link := partial "link" .RelPermalink }}
    <!-- get the actual product page from the name of the product page under collections  -->
    {{ $producthandle := .File.ContentBaseName }}
    {{ with site.GetPage (printf "/products/%s" $producthandle) }}
    <!-- this is the product page -->
    {{ $product := . }}
    <li href="{{$link}}" class="{{if not .Params.available}}sold-out{{end}}" handle="{{$producthandle}}">
      {{ range .Resources.ByType "image" | first 1 }}
      <!-- grid layout with auto-fit and min 150px cells -->
      <!-- just assume a max of 233px, which is the widest possible before two columns become three -->
      {{ $sizes := "233px" }}
      {{partial "image" (dict "image" . "widths" "200,400" "sizes" $sizes)}}
      {{ end }}
      <div class="color-dots">
        {{ $coloroption := partialCached "modules/products-get-color-option" "noop" }}
        {{ $color_dots := (apply (apply .Params.variants "index" "." "options") "index" "." $coloroption) | uniq }}
        {{ $show_plus := false }}
        {{ if gt (len $color_dots) 7  }}
        {{ $color_dots = $color_dots | first 6 }}
        {{ $show_plus = true }}
        {{ end }}
        {{ range $value := $color_dots }}
        {{ with partial "helpers/get-color" . }}
        <a href="{{$link}}" {{with .color}}style="background-color: {{.}};" {{end}}
          {{partial "modules/products-get-image-srcset-attr" (dict "color" .name "product" $product)}}>
          {{ if .image }}
          <img src="{{.image}}" alt="{{.name}}">
          {{ end }}
        </a>
        {{ end }}
        {{ end }}
        {{ if $show_plus  }}
        <a href="{{$link}}" class="color-dots__see-more">+</a>
        {{ end }}
      </div>
      <h3>
        <a class="silent-link stretched-link" href="{{$link}}">{{.Title}}</a>
      </h3>
      <div>
        {{partial "product-price" .Params}}
      </div>
      {{ with .Params.reviewsBottomline }}
      <div class="product-list__rating">
        {{ range seq (math.Round .average) }}★{{ end }}
        <span>{{ div (math.Round (mul .average 10)) 10 }}</span>
        <span>({{.count}})</span>
      </div>
      {{ end }}
      <div class="sold-out-tag">Sold Out</div>
    </li>
    {{ else }}
    {{ warnf "Could not find product %s (%s %s %s)" .File.ContentBaseName .Dir .Kind .Type }}
    {{ end }}
    {{ end }}
  </ul>

  {{ else }}
  <p>No products found</p>
  {{ end }}
</section>

<!-- 
  get srcset for product image in the specified color
  params: product: product page
          color: color name
 -->
{{ define "partials/modules/products-get-image-srcset-attr" }}
{{ $srcset := "" }}
{{ with partial "modules/products-get-color-variant" (dict "variants" .product.Params.variants "color" .color ) }}
{{ with index ($.product.Resources.ByType "image") .imageIndex }}
{{ $srcset = partial "srcset" (dict "image" . "widths" "200,400") }}
{{ end }}
{{ else }}
{{ warnf "Could not get variant in color %s for %s" .color .product }}
{{ end }}
{{ return (printf "data-image-srcset=%q" $srcset | safeHTMLAttr) }}
{{ end }}

<!-- 
  get product variant from color name
  params: variants: product variants from product page
          color: color name
 -->
{{ define "partials/modules/products-get-color-variant" }}
{{ $coloroption := partialCached "modules/products-get-color-option" "noop" }}
{{ $variant := 0 }}
{{ with .variants }}
{{ range where . (printf "options.%s" $coloroption) $.color }}
{{ $variant = . }}
{{ end }}
{{ else }}
{{ warnf "No variants supplied (color is %s)" $.color }}
{{ end }}
{{ return $variant }}
{{ end }}

<!-- get color option name from site params, defaults to "Color" -->
{{ define "partials/modules/products-get-color-option" }}
{{ $coloroption := "Color" }}
{{ with site.Params.coloroption }}
{{ $coloroption = . }}
{{ end }}
{{ return $coloroption}}
{{ end }}