.product-list {
  padding: var(--block-padding);
  margin: var(--block-margin);
  max-width: var(--block-width);
}

.product-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.5rem 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
}

.product-list li {
  position: relative;
  text-align: center;
  z-index: 0;
}

.product-list__product:hover,
.product-list__product:focus-within {
  outline: var(--border);
}

.product-list__product h3 {
  font-size: 0.875rem;
  letter-spacing: normal;
  margin: 0.25rem 0;
}

.product-list__swatches {
  display: flex;
  justify-content: center;
  margin: 0.75rem 0;
}

.product-list__swatch {
  margin: 0 0.25rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  color: transparent;
}

.product-list__swatch img {
  width: 100%;
  height: 100%;
}

.product-list__swatch--see-more {
  background-color: white;
  color: var(--color-text);
  border: var(--border);
  font-size: 1.5rem;
  line-height: 1rem;
  text-decoration: none;
}

.product-list__swatch--see-more:hover {
  background-color: var(--color-cta-hover);
  color: white;
}

.product-list__rating {
  margin-top: 0.25rem;
}

.product-list__rating span {
  font-size: 0.75rem;
}

.product-list__rating span + span {
  color: var(--color-gray);
}

.product-list__show-all {
  align-self: center;
}

/* #region sold out tag and muting */

.product-list__product--sold-out > img {
  opacity: 0.4;
}

.product-list__sold-out-tag {
  display: block;
  position: absolute;
  padding: 0.25rem 0.5rem;
  top: 0;
  right: 0;
  background: var(--color-fg);
  color: white;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* #endregion */

@media (min-width: 992px) {
  .product-list ul {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
