{{ $class := "split-card" }}
{{ with .imagealign }}
{{ $class = printf "%s split-card--image-%s" $class . }}
{{ end }}
{{ with .background }}
{{ $class = printf "%s split-card--bg-%s" $class . }}
{{ end }}
{{ if .narrow }}
{{ $class = printf "%s split-card--narrow" $class }}
{{ end }}
<section class="{{$class}}">
  {{ $sizes := "(min-width: 768px) min(620px, 50vw), 100vw" }}
  {{ with .image }}
  {{partial "img" (dict "image" .image "widths" "375,750" "sizes" $sizes "alt" .image_alt)}}
  {{ end }}
  <div>
    {{ if or .heading .subheading }}
    <header>
      {{ with .subheading }}<p>{{.}}</p>{{ end }}
      {{ with .heading }}<h2>{{.}}</h2>{{ end }}
    </header>
    {{ end }}
    <div>
      {{.text | $.pageobj.RenderString}}
    </div>
    {{ if .linktext }}
    <div>
      <a class="btn" href="{{partial "helpers/get-link-module" (slice .link $)}}">{{.linktext}}</a>
    </div>
    {{ end }}
  </div>
</section>
