
{{- define "partials/testimonials-image" }}
{{- with partial "helpers/get-image" . }}
<figure>
  <img class="lazyload testimonials-image" loading="lazy" data-srcset="
    {{- .RelPermalink}}?nf_resize=smartcrop&w=70&h=70 70w,
    {{- .RelPermalink}}?nf_resize=smartcrop&w=140&h=140 140w,
    {{- .RelPermalink}}?nf_resize=smartcrop&w=100&h=100 100w,
    {{- .RelPermalink}}?nf_resize=smartcrop&w=200&h=200 200w"
    sizes="(min-width: 768px) 100px, 70px"
    data-src="{{.RelPermalink}}?nf_resize=smartcrop&w=100&h=100" alt="" />
</figure>
{{- end }}
{{- end }}
<section class="testimonials">
  {{- with .heading }}
  <h2>{{.}}</h2>
  {{- end }}
  <div>
    {{ range .testimonials }}
    <div>
      <blockquote{{with .link}} cite="{{.}}" {{end}}>
        <img id="icon" src="{{(resources.Get "reima-friends-quote-gray.svg").RelPermalink}}" alt="icon quote">
        <div>{{.text | $.pageobj.RenderString}}</div>
        <footer>
          <div>
            {{.author}}
            {{ if .linktext }}
            <cite>
              {{ if .link }}
              <a href="{{partial "helpers/get-link-module" (slice .link $)}}">{{.linktext}}</a>
              {{ else }}
              {{.linktext}}
              {{ end }}
            </cite>
            {{ end }}
          </div>
          {{- if and (.image_link) (.image) }}
          <a href="{{partial "helpers/get-link-module" (slice .image_link)}}">
          {{- partial "partials/testimonials-image" .image }}
          </a>
          {{- else if .image }}
          {{- partial "partials/testimonials-image" .image }}
          {{- end}}
        </footer>
        </blockquote>
    </div>
    {{- end }}
  </div>
</section>

