<section class="testimonials">
  {{ with .heading }}
  <h2>{{.}}</h2>
  {{ end }}
  <div>
    {{ range .testimonials }}
    <div>
      <blockquote{{with .link}} cite="{{.}}" {{end}}>
        <img src="{{(resources.Get "reima-friends-quote-gray.svg").RelPermalink}}" alt='"'>
        <div>{{.text | markdownify}}</div>
        <footer>
          {{.author}}
          {{ if .linktext }}
          <cite>
            {{ if .link }}
            <a href="{{.link}}">{{.linktext}}</a>
            {{ else }}
            {{.linktext}}
            {{ end }}
          </cite>
          {{ end }}
        </footer>
        </blockquote>
    </div>
    {{ end }}
  </div>
</section>