.hero {
  color: var(--color-text);
  max-width: var(--content-max-width);
  padding: 0;
}

.hero > div > div {
  margin: var(--content-padding);
}

.hero > div > div > :first-child {
  margin-top: 0;
}

.hero p {
  margin-top: 0;
}

@media (min-width: 768px) {
  .hero {
    --h1-font-size: var(--h0-font-size);
    position: relative;
    padding: var(--block-padding);
    margin: var(--block-margin);
  }  
  
  .hero > div {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: inherit;
  }

  
  .hero--overlay-right > div {
    justify-content: flex-end;
  }
  
  .hero--overlay-right > div > div,
  .hero--overlay-left > div > div {
    max-width: 50%;
  }
  
  .hero--overlay-small > div > div {
    max-width: 33%;
  }
  
  .hero--overlay-invert {
    --color-text: white;
    --color-bg: var(--color-fg);
  }
}

.hero--overlay-small {
  --h1-font-size: var(--h4-font-size);
}