<h2>
  Breathability Levels
</h2>
<p>
  Breathability level is meant to measure fabrics that are functional: meaning they keep water out, yet allow moisture
  to be transferred to outer layers. Breathability can be measured by different standards. Breathability is measured in
  grams per square meter per day, or g/m2/24h. We use our own method to determine the breathability of our products,
  which is comparable to the ISO 15496 standard.
</p>
<h3>
  Breathability of at least 3,000 g/m2/24h:
</h3>
<p>
  The product is suitable for everyday outings and light rain.
</p>
<h3>
  Breathability of at least 5,000 g/m2/24h:
</h3>
<p>
  The product is suitable for playing outside.
</p>
<h3>
  Breathability of at least 7,000 g/m2/24h:
</h3>
<p>
  The product is best for active kids / playing sports.
</p>