<h2>UV protection</h2>
<p>With lab tests verified UV sun protection indicates how much longer a child can play in the sun without the delicate
  skin to burn underneath the clothing. We measure the UV cut using the standard AS/NZS 4399:1996.</p>
<h3>UV cut 20+</h3>
<p>prevents 95% of ultraviolet radiation.</p>
<h3>UV cut 30+</h3>
<p>prevents 96,7% of ultraviolet radiation.</p>
<h3>UV cut 40+</h3>
<p>prevents 97,5% of ultraviolet radiation.</p>
<h3>UV cut 50+</h3>
<p>prevents 98% of ultraviolet radiation.</p>