<h2>Waterproof levels</h2>
<p>All Reima fabrics or products marked with drop symbols are waterproof. The waterproof level is indicated with water
  columns which tell how much water pressure the fabric endures in thickness, before water begins to pass its surface.
  The thickness of the water mass / pressure is stated in mm.</p>
<h3>Water column over 3 000 mm:</h3>
<p>Protects against rain for some time.</p>
<h3>Water column over 5 000 mm:</h3>
<p>Protects against heavy rain, too.</p>
<h3>Water column over 8 000 mm:</h3>
<p>Is suitable for both heavy rain but also sitting on wet.</p>
<h3>Water column over 12 000 mm:</h3>
<p>For extreme conditions. Protects in active outings in wet surroundings and in heavy rain, all-day.</p>