<h2>Durability</h2>
<p>Reima measures durability with a hardcore Martindale test where abrasion resistance of fabrics is tested with sand
  paper. Our indicated figures are not comparable with the ones of upholstery fabric testing, as they are resulted by
  using a woolen cloth, not sand paper. For each product we choose the best suitable and durable fabric, according to
  the purpose of use. Particularly durable fabrics are given a separate arrow symbol with the Martindale test value. If
  a product does not have this symbol, the durability measured with Martindale is less than 30 000 cycles, and possible
  test result indicated in the material information.</p>
<h3>Abrasion resistance over 30 000 cycles Martindale:</h3>
<p>Very good durability, suitable for casual pants and durable jackets.</p>
<h3>Abrasion resistance over 50 000 cycles Martindale:</h3>
<p>Excellent durability, suitable for pants and lower parts of overalls.</p>
<h3>Abrasion resistance over 80 000 cycles Martindale:</h3>
<p>Extremely durable fabric, usually used as reinforcement material and in our most durable pants.</p>