<h2>Warmth levels</h2>
<p>The degrees of warmth level thermal markings are indicative. They have been prepared keeping in mind that underneath
  the shell layer, mid- and base layers will be worn according to the weather - the colder it is, the more warm layers
  will be chosen. An average time spent outdoors with this guidance is approximately an hour. If you plan to do sports /
  play actively, choose lighter mid-layer clothing and/or lighter outerwear.</p>
<h3>No flakes:</h3>
<p>shell/mid-season product, no insulation.</p>
<h3>One flake:</h3>
<p>light wadding, fleece or light down.</p>
<h3>Two flakes:</h3>
<p>warm waddign or warm down.</p>
<h3>Three flakes:</h3>
<p>extremely warm wadding, pearl wadding or fluffy down.</p>