.hero {
  position: relative;
}

.hero picture {
  position: relative;
  display: block;
  padding-bottom: calc(100% * 500 / 375);
  overflow: hidden;
}

@media (min-width: 768px) {
  .hero picture {
    padding-bottom: calc(100% * 1440 / 2880);
  }
}

.hero img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
}

.hero > div {
  position: absolute;
  bottom: 0;
  color: white;
  padding-bottom: 20px;
  left: 0;
  right: 0;
  padding: 7% 20px;
  margin: 0 auto;
  background: linear-gradient(to bottom, rgba(56,56,59,0) 0%, rgba(56,56,59,0) 0%, rgba(56,56,59,0.62) 100%);
}

.hero > div > * {
  max-width: 1000px;
  margin: auto;
}

.hero h1 {
  font-size: 2.5rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

.hero h2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.carousel > button {
  display: none !important;
}

@media (min-width: 1024px) {
  .carousel > button {
    display: block !important;
  }

  .hero > div {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .hero h1 {
    font-size: 3rem;
  }
  
  .hero h2 {
    font-size: 1.25rem;
  } 
}



