.newsletter {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.newsletter h1,
.newsletter p {
  text-align: center;
}

.newsletter input {
  background-color: #f2f2f5;
  width: 100%;
  font-size: 1rem;
}

.newsletter label {
  display: flex;
  align-items: center;
  margin: 0.75rem 0;
}

.newsletter label, .newsletter label .md {
  font-size: 0.875rem;
}

.newsletter label input {
  width: unset;
  margin-right: 1rem;
}

.newsletter [consent] {
  display: none;
}

.newsletter[consent] [consent] {
  display: block;
}

.newsletter [failure] {
  color: red;
  text-align: left;
}

.newsletter [success] {
  display: none;
}

.newsletter[success] [success] {
  display: block;
  font-weight: 700;
}

.newsletter[success] [consent],
.newsletter[success] input {
  display: none;
}