{{ with site.Data.pixels }}
{{ if .facebook_enabled }}

<script>
  !function (f, b, e, v, n, t, s) {
    if (f.fbq) return; n = f.fbq = function () {
      n.callMethod ?
        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
    };
    if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
    n.queue = []; t = b.createElement(e); t.async = !0;
    t.src = v; s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s)
  }(window, document, 'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '{{.facebook_id}}');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id={{.facebook_id}}&ev=PageView&noscript=1" /></noscript>


{{ with partial "helpers/get-product" $ }}
<!-- 
  TODO: move to use legacyid param or something similar!
  using yotpoId for now, since that is the same
 -->
<script>
  fbq('track', 'ViewContent', {
    content_name: '{{.Title}}',
    content_ids: ['{{.Params.yotpoId}}'],
    content_type: 'product',
    value: '{{.Params.price}}',
    currency: '{{site.Params.public.currency}}'
  });
</script>
{{ end }}

{{ if partial "helpers/has-product" $}}
<script>
  document.addEventListener('cart-add', (e) => {
    const variant = e.detail.variant;
    const checkout = e.detail.checkout;
    fbq('track', 'AddToCart', {
      content_name: variant.productTitle,
      content_ids: [variant.productIdLegacy],
      content_type: 'product',
      value: variant.price,
      currency: checkout.currency
    });
  });
</script>
{{ end }}

{{ end }}
{{ end }}