{{ with site.Data.pixels }}
{{ if .frosmo_enabled }}

<script uses-cookies type="text/javascript" charset="utf-8" src="//d2wzl9lnvjz3bh.cloudfront.net/frosmo.easy.js"></script>
<script uses-cookies type="text/javascript" charset="utf-8" src="//d2wzl9lnvjz3bh.cloudfront.net/sites/{{.frosmo_site}}.js"></script>
<script uses-cookies>
  window.dataLayer = window.dataLayer || [];
</script>

{{ with partial "helpers/get-product" $ }}
<script uses-cookies>
  window.dataLayer.push({
    'ecommerce': {
      'detail': {
        'products': [{
          'id': '{{$.File.ContentBaseName}}',
          'name': '{{.Title}}',
          'price': {{.Params.price}},
          'url': {{$.Permalink}}
        }]
      }
    }
  });
</script>
{{ end }}

{{ with partial "helpers/get-product-impressions" $ }}
<script>
dataLayer.push({
  'ecommerce': {
    'currencyCode': '{{site.Params.public.currency}}',
    'impressions': [
    {{- range . }}
    {
      {{- with partial "helpers/get-product" . }}
      'id': '{{.Params.yotpoId}}',
      'name': '{{.Title}}',
      'price': {{.Params.price}},
      'image': '{{ (index (.Resources.ByType "image" | first 1) 0).Permalink }}',
      {{- end }}
      'url': '{{.Permalink}}'
    },
    {{- end }}
    ]
  }
});
</script>
{{ end }}

{{ if partial "helpers/has-product" $ }}
<script uses-cookies>
  document.addEventListener('cart-add', (e) => {
    const checkout = e.detail.checkout;
    const variant = e.detail.variant;

    window.dataLayer.push({
      'event': 'addToCart',
      'ecommerce': {
        'currencyCode': checkout.currency,
        'add': {
          'products': [{
            'id': variant.productHandle,
            'name': variant.productTitle,
            'price': variant.price,
            'url': {{$.Permalink}}
          }]
        }
      }
    });
  });
</script>
{{ end }}

{{ end }}
{{ end }}
