{{ with site.Data.pixels }}
{{ if .ga_enabled }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script uses-cookies async src="https://www.googletagmanager.com/gtag/js?id={{.ga_property}}"></script>
<script uses-cookies>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
{{ with .ga_autolink }}
  gtag('set', 'linker', { domains: ['{{.}}'] });
{{ end }}
  gtag('js', new Date());

{{ with .ga_property }}
  gtag('config', '{{.}}');
{{ end }}

{{ with .aw_property }}
  gtag('config', '{{.}}');
{{ end }}
</script>

<!-- product view enhanced ecommerce event -->
{{ with partial "helpers/get-product" $ }}
{{ $productId := $.File.ContentBaseName }}
{{ if site.Params.gaSkuProductId }}
{{ $firstAvailableVariant := (index (first 1 (where .Params.variants "available" true)) 0) }}
{{ $idVariant := default (index .Params.variants 0) $firstAvailableVariant }}
{{ $productId = $idVariant.productAndColor }}
{{ end }}
<script uses-cookies>
  gtag('event', 'view_item', {
    items: [{
      id: "{{$productId}}",
      name: "{{.Title}}",
      price: {{.Params.price }},
      quantity: 1,
    }]
  });
</script>
{{ end }}

<!-- add to cart enhanced ecommerce event -->
{{ if partial "helpers/has-product" $ }}
{{ $productId := "variant.productHandle" }}
{{ if site.Params.gaSkuProductId }}
{{ $productId = "`${variant.parsedSku.product}-${variant.parsedSku.color}`" }}
{{ end }}
<script uses-cookies>
  document.addEventListener('cart-add', (e) => {
    const checkout = e.detail.checkout;
    const variant = e.detail.variant;

    gtag('event', 'add_to_cart', {
      items: [{
        id: {{$productId | safeJS}},
        name: variant.productTitle,
        price: variant.price,
        variant: variant.title,
        quantity: 1,
      }]
    });
  });
</script>
{{ end }}

{{ end }}
{{ end }}

<!-- add search event listener (from r-search.ts) -->
<script uses-cookies>
  document.addEventListener('search', (e) => {
    const { query } = e.detail;
    gtag('event', 'search', {
      event_label: query
    });
  });
</script>
