<!-- 
  parameters expected:
  - account: account id
  - store: store id
 -->
{{ with site.Data.pixels }}
{{ if .ometria_enabled }}

<script uses-cookies src="//cdn.ometria.com/tags/{{.ometria_account}}.js"></script>
<script uses-cookies>
  document.addEventListener('subscribe', (e) => {
    ometria.identify(e.detail.email);
  });
</script>

{{- if $.IsHome }}
<script uses-cookies>
  ometria.init('homepage', null, '{{.ometria_store}}');
</script>
{{- else if partial "helpers/is-collection" $ }}
<script uses-cookies>
  ometria.init('listing', null, '{{.ometria_store}}');
</script>
{{- else if partial "helpers/is-product" $ }}
<!-- 
  TODO: move to use legacyid param or something similar!
  using yotpoId for now, since that is the same
 -->
<script uses-cookies>
  ometria.init('product', {
    pid: '{{(partial "helpers/get-product" $).Params.yotpoId}}'
  }, '{{.ometria_store}}');

</script>
{{- end }}

{{ if partial "helpers/has-product" $ }}
<script uses-cookies>
  document.addEventListener('cart-add', (e) => {
    const checkout = e.detail.checkout;
    const basket = new ometria.Basket();
    basket.setId(checkout.id);
    basket.setUrl(checkout.url);
    basket.setTotal(checkout.total, checkout.currency);
    checkout.items.forEach((item) => {
      basket.addLineItem(item.productIdLegacy, item.quantity, item.price, item.variantIdLegacy);
    });
    ometria.setBasket(basket);
  });
</script>
{{ end }}

{{ end }}
{{ end }}