<!-- 
  parameters expected:
  - account: account id
  - store: store id
 -->
{{ with site.Data.pixels }}
{{ if .ometria_enable }}

<script src="//cdn.ometria.com/tags/{{.ometria_account}}.js"></script>
{{- if $.IsHome }}
<script>
  ometria.init('homepage', null, '{{.ometria_store}}');
</script>
{{- else if partial "helpers/is-collection" $ }}
<script>
  ometria.init('listing', null, '{{.ometria_store}}');
</script>
{{- else if partial "helpers/is-product" $ }}
<!-- 
  TODO: move to use legacyid param or something similar!
  using yotpoId for now, since that is the same
 -->
<script>
  ometria.init('product', {
    pid: '{{(partial "helpers/get-product" $).Params.yotpoId}}'
  }, '{{.ometria_store}}');
</script>
{{- end }}

{{ end }}
{{ end }}