.sidebar > * > * > :first-child {
  margin-top: 0;
}

.sidebar > * > * > :last-child {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .sidebar {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-areas:
      "banner banner"
      "sidebar content";
    padding: var(--block-padding);
    margin: var(--block-margin);
    max-width: var(--block-width);
  }
  
  hr {
    margin-left: 1.5rem;
  }
  
  .sidebar > * {
    --block-padding: 0 0 0 1.5rem;
    --block-margin: 1.5rem auto;
  }

  .sidebar__banner {
    grid-area: banner;
  }

  .sidebar__sidebar {
    grid-area: sidebar;
  }

  .sidebar__main {
    grid-area: content;
  }

  .sidebar .category-list {
    border: none;
    margin: 0;
  }
}

/* normalize ul */
.category-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make links discreet */
.category-list ul a {
  color: #38383b;
  text-decoration: none;
  display: block;
  padding: .25rem 0;
}

/* hide checkbox */
#categories-opener {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

/* categories label */
.categories {
  cursor: pointer;
}

.categories > h2 {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.categories > h2 span::before {
  content: '+';
}

/* hide categories by default */
.categories + ul {
  display: none;
}

/* do this when categories checked (open) */
#categories-opener:checked + label + ul {
  display: block;
}

#categories-opener:checked + label h2 span::before {
  content: '-';
}

/* categories: add margins and adjust font weight at different levels */
.categories + ul > li {
  margin-top: 1rem;
}

.categories + ul {
  font-weight: 700;  
}

.categories + ul li li {
  font-weight: 400;
}

/* purposes: add margin to put border in the middle of whitespace */
.purposes {
  margin-top: 1.5rem;
}

@media (min-width: 992px) {
  .categories {
    cursor: default;
  }

  .categories span {
    display: none;
  }

  .categories + ul {
    display: block;
  }
}