.content-block-image {
  margin: var(--block-margin);
  max-width: 540px;
}

.content-block-image > h3 {
  font-size: 1rem;
  letter-spacing: 0.1em;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin: 0;
}

@media (min-width: 768px) {
  .content-block-image {
    max-width: var(--content-width);
    display: flex;
    align-items: center;
    background: var(--color-bg-accent);
  }

  .content-block-image > img {
    max-width: 50%;
  }

  .content-block-image > * {
    flex: 1 1 50%;
  }
}
