:root {
  --color-text: #38383b;
  --color-text-highlight: #fff0c5;
  --color-fg: #38383b;
  --color-bg: white;
  --color-reima-red: #d2092d;
  --color-reima-blue: #407ec9;
  --color-gray-lighter: #f2f2f5;
  --color-gray: #898d8d;
  --color-border: #949494;
  --content-max-width: 1280px;
  --content-padding: 1rem;
  --border: 1px solid #ccc;
  --outline: 2px dotted rgba(0, 0, 0, 0.5);
  --block-padding: 0 var(--content-padding);
  --block-margin: var(--content-padding) auto calc(var(--content-padding) * 2);
  --block-width: var(--content-max-width);
  --content-width: 720px;
  --hr-width: calc(var(--content-max-width) - 2 * var(--content-padding));
  /* h0 means display */
  --text-font-size: 1rem;
  --h0-font-size: 2rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.375rem;
  --h4-font-size: 1.125rem;
  --h4-letter-spacing: 0;
  --h4-margin-bottom: .625rem;
  --h5-font-size: 1rem;
  --h5-letter-spacing: 0;
  --h5-margin-bottom: .5rem;
  --h6-font-size: 0.875rem;
  --h6-letter-spacing: .03rem;
}

@media (min-width: 768px) {
   :root {
    --text-font-size: 1.25rem;
    --h0-font-size: 2.5rem;
    --h1-font-size: 2.125rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --content-padding: 1.5rem;
  }
}

@media (min-width: 992px) {
   :root {
    --content-padding: 2rem;
    --h0-font-size: 2.75rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.375rem;
    --h4-letter-spacing: -.01rem;
    --h4-margin-bottom: .75rem;
  }
}

@media (min-width: 1024px) {
   :root {
    --h0-font-size: 3.125rem;
    --h1-font-size: 2.75rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 2rem;
    --h4-font-size: 1.5rem;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: "Campton", Arial, serif;
  letter-spacing: 0.025em;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: #38383b;
}

header>div {
  margin: auto;
  max-width: var(--block-width);
  padding: var(--block-padding);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  border-bottom: var(--border);
  margin: var(--block-margin);
  max-width: var(--hr-width);
}


/* #region basic typography */

@font-face {
  font-family: 'Campton';
  font-display: swap;
  src: url("/campton-book-webfont.woff2") format("woff2"), url("/campton-book-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Campton';
  font-display: swap;
  src: url("/campton-bold-webfont.woff2") format("woff2"), url("/campton-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal
}

h1,
h2,
h3,
h4,
.h4,
h5,
h6 {
  font-weight: 700;
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4,
.h4 {
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  margin-bottom: var(--h4-margin-bottom);
}

h5 {
  font-size: var(--h5-font-size);
  letter-spacing: var(--h5-letter-spacing);
  margin-bottom: var(--h5-margin-bottom);
}

h5,
h6 {
  line-height: 1.375;
}

h6 {
  text-transform: uppercase;
}

code {
  padding: .25rem .3125rem;
  background-color: var(--color-text-highlight);
}

.text-sm {
  font-size: .875rem;
}

.price--sale {
  color: var(--color-reima-blue);
  font-weight: 700;
}

.price--was {
  color: var(--color-border);
  text-decoration: line-through;
}


/* #endregion */


/* #region links */

a,
.link {
  color: #d2092d;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  text-decoration-color: #d2092d;
  text-decoration-thickness: .1em;
  text-underline-offset: 2px;
  text-decoration-skip-ink: auto;
  /* remove this workaround when switching entirely to new design */
  border: none;
}

a:hover,
.link {
  color: #af0f03;
  text-decoration: underline;
}

.silent-link {
  color: inherit;
  text-decoration: none;
}

.silent-link:hover,
.silent-link:focus {
  color: #d2092d;
  text-decoration: none;
}

.stretched-link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}


/* #endregion */


/* #region buttons */

.btn {
  border-radius: 2px;
  background-color: transparent;
  border: 2px solid;
  color: var(--color-text);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375;
  padding: .6875rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, border-color .2s, color .2s;
  font-family: inherit;
}

.btn:hover {
  background-color: var(--color-text);
  border-color: var(--color-text);
  color: var(--color-bg);
  text-decoration: none;
}

.btn:disabled,
.btn:disabled:hover {
  cursor: not-allowed;
  background-color: var(--color-gray);
}

.btn--sm {
  font-size: .875rem;
  padding: .5rem 1rem;
}

.btn--inv {
  --color-text: white;
  --color-bg: var(--color-fg);
}

.btn--cta {
  background: var(--color-reima-red);
  border: none;
  color: white;
  font-weight: 400;
}

.btn--cta:hover,
.btn--cta:focus {
  background: #BA001F;
  color: white;
}

.btn--secondary {
  font-weight: 400;
  border-width: 1px;
}


/* #endregion */


/* #region focus */

:focus,
.btn:focus,
a:focus {
  outline: var(--outline);
  outline-offset: 2px;
}

.btn--inv:focus {
  outline-color: rgba(255, 255, 255, 0.5);
}


/* #endregion */

.margin-bottom-xs {
  margin-bottom: .375rem;
}

.margin-bottom-sm {
  margin-bottom: .625rem;
}

.margin-bottom-base {
  margin-bottom: 1rem;
}