.overlay {
  display: block;
  background: var(--color-overlay-bg);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.5s;
  z-index: -1;
}

.overlay .overlay__inner {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.2s;
  transition-delay: 0.2s;
}

.overlay .overlay__header {
  min-height: var(--menu-height);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border);
}

.overlay .overlay__header svg {
  height: var(--logo-height);
}

input:checked + .overlay,
input:checked + label + .overlay,
.overlay.open {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
  z-index: +1;
}

input:checked + .overlay .overlay__inner,
input:checked + label + .overlay .overlay__inner,
.overlay.open .overlay__inner {
  opacity: 1;
  transform: translateX(0);
  z-index: +1;
}

.overlay > * {
  background: white;
  display: block;
}

@media (min-width: 1024px) {
  .overlay {
    z-index: +1;
  }

  .overlay .overlay__inner {
    transform: none;
  }

  .overlay .overlay__header {
    display: none;
  }
}
