input[type="checkbox"][id|="open"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.announcement {
  background-color: var(--color-fg);
  color: white;
  text-align: center;
  font-size: var(--text-font-size-sm);
  padding: 0.5rem max(50% - var(--content-max-width) / 2, var(--content-padding));
}

.announcement a {
  color: inherit;
  text-decoration: none;
}

.announcement a:hover {
  color: var(--color-reima-red);
}

body > header {
  position: sticky;
  top: 0;
  border-bottom: var(--border);
  background: white;
  z-index: 1;
}

.menu {
  display: flex;
  align-items: center;
  height: var(--menu-height);
}

.menu input:focus + label.menu__hamburger,
.menu
  input:focus
  + label
  + .overlay
  > .overlay__inner
  > .overlay__header
  > label {
  outline: var(--focus-outline);
  outline-offset: 2px;
}

header .menu__links {
  display: flex;
  flex: 1;
  align-items: center;
}

/* this is the menu opener label */
.menu__hamburger {
  margin-right: 14px;
}

.logo-link {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: var(--logo-width);
  height: var(--logo-height);
}

.logo-link a {
  display: block;
  height: 100%;
}

.logo-link a svg {
  width: var(--logo-width);
  height: 100%;
}

header .menu__icons {
  align-items: center;
  display: flex;
}

body > header .icons {
  display: inline-block;
}

header .icons-grid {
  display: grid;
  gap: 0.75rem;
  grid-auto-flow: column;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.icon + .icon {
  margin-left: 1rem;
}

.icon:hover {
  fill: var(--color-reima-red);
}

.icon svg {
  width: 100%;
  height: 100%;
}

.overlay {
  display: none;
}

#menu > .overlay__inner > ul {
  overflow: auto;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1 0 90%;
}

#menu li {
  padding: 0.75rem 1rem;
  align-items: center;
  border-bottom: var(--border);
  font-weight: 700;
  font-size: 1.25rem;
  flex: 1 0 auto;
  transition: all 0.4s;
}

#menu li ul {
  display: none;
  margin-top: 0.75rem;
  border-top: var(--border);
  padding-left: 1rem;
}

#menu input:checked ~ ul {
  display: block;
}

#menu li li {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 0;
  padding-right: 0;
}

#menu li li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

#menu label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

#menu input:focus + label {
  outline: var(--focus-outline);
  outline-offset: 2px;
}

#menu svg {
  display: block;
}

#menu input:checked + label svg {
  transform: rotate(180deg);
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  color: var(--color-reima-red);
}

@media (min-width: 1024px) {
  #menu.overlay {
    display: block;
    position: static;
    background: transparent;
    width: unset;
    height: unset;
    flex: 1;
    visibility: visible;
    opacity: 1;
    padding-left: 1rem;
    transition: none;
  }

  #menu.overlay .overlay__inner {
    transform: none;
    transition: none;
  }

  #menu.overlay .overlay__header {
    display: none;
  }

  #menu > .overlay__inner > ul {
    overflow: visible;
  }

  #menu ul {
    overflow: visible;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  #menu li {
    position: relative;
    flex: 0 1 auto;
    border-bottom: none;
    font-size: 1rem;
    padding: 0.75rem 1rem;
  }

  #menu li ul {
    position: absolute;
    margin-top: 0;
    border-top: none;
    background: white;
    left: 0;
    padding: 0;
    top: 100%;
    box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.3);
  }

  #menu li li,
  #menu li li:last-child {
    padding: 0.75rem 1rem;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  #menu label svg,
  #menu input:checked + label svg {
    transform: rotate(270deg);
  }

  #menu li li:hover > label {
    fill: var(--color-reima-red);
  }

  #menu li li a {
    padding: 0;
  }

  /* hide icons ... */
  #menu .icon {
    display: none;
  }

  /* ... but show icons in submenus */
  #menu li li .icon {
    display: initial;
  }

  #menu li ul,
  #menu input:checked ~ ul {
    display: none;
  }

  #menu li:hover > ul {
    display: block;
  }

  #menu li li input:checked ~ ul,
  #menu li li:hover > ul {
    left: 100%;
    top: 0;
  }

  label[for="open-menu"] {
    display: none;
  }

  .logo-link {
    position: initial;
    display: flex;
    flex: 0 0 auto;
    order: -1;
    width: auto;
  }
}
