footer {
  background-color: var(--color-fg);
  color: white;
  padding: 1rem;
}

footer ul {
  list-style: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

footer > ul > li {
  margin: 0 0 2rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

footer > ul > li::after {
  content: " ";
  height: 1px;
  display: block;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1rem;
  opacity: 0.12;
}

footer li {
  margin: 1rem 0;
}

footer ul ul li:last-child {
  margin-bottom: 0;
}

footer ul ul {
  display: none;
  font-weight: 400;
  text-transform: none;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 0.875rem;
  z-index: 1;
}

footer a[href=""] {
  pointer-events: none;
}

footer a:hover {
  color: white;
}

footer > p {
  font-size: 0.75rem;
}

footer label {
  fill: white;
  position: absolute;
  left: 0;
  right: 0;
}

footer label.icon {
  width: 100%;
}

footer label.icon svg {
  width: auto;
  position: absolute;
  right: 0;
}

footer input:focus + label.icon {
  outline: var(--focus-outline);
  outline-offset: 2px;
}

footer input:checked + label svg {
  transform: rotate(180deg);
}

footer input:checked ~ ul {
  display: block;
}

@media (min-width: 1024px) {
  footer > ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem -1rem;
  }

  footer > ul > li {
    margin: 0 1rem;
  }

  footer > ul > li:after {
    display: none;
  }

  footer ul ul {
    display: block;
  }

  footer label {
    display: none;
  }

  footer > p {
    text-align: center;
  }
}
