:root {
  --color-text: #38383b;
  --color-text-highlight: #fff0c5;
  --color-fg: var(--color-text);
  --color-bg: white;
  --color-overlay-bg: rgba(0, 0, 0, 0.5);
  --color-cta-hover: #ba001f;
  --color-reima-red: #d2092d;
  --color-reima-red-hover: #af0f03;
  --color-reima-blue: #407ec9;
  --color-reima-deep-yellow: #ffc72c;
  --color-gray-lighter: #f2f2f5;
  --color-gray-light: #ccc;
  --color-gray: #898d8d;
  --color-gray-dark: #515155;
  --color-border: #949494;
  --color-input-border: #bfbfbf;
  --color-input-focus: #fcfcfc;
  --content-max-width: 1280px;
  --content-padding: 1rem;
  --border: 1px solid var(--color-gray-light);
  --input-border: 1px solid var(--color-input-border);
  --focus-outline: 2px dotted var(--color-overlay-bg);
  --block-padding: 0 var(--content-padding);
  --block-margin: var(--content-padding) auto calc(var(--content-padding) * 2);
  --block-width: var(--content-max-width);
  --content-width: 720px;
  --hr-width: calc(var(--content-max-width) - 2 * var(--content-padding));
  --menu-height: 60px;
  --logo-width: 88px;
  --logo-height: 20px;
  --text-font-size: 1rem;
  --text-font-size-sm: 0.875rem;
  --text-letter-spacing: 0;
  --text-line-height: 1.375;
  /* h0 means display */
  --h0-font-size: 2rem;
  --h1-font-size: 1.75rem;
  --h1-letter-spacing: -0.03rem;
  --h1-margin-bottom: 1rem;
  --h2-font-size: 1.5rem;
  --h2-letter-spacing: -0.02rem;
  --h2-margin-bottom: 0.875rem;
  --h3-font-size: 1.375rem;
  --h3-letter-spacing: -0.01rem;
  --h3-margin-bottom: 0.75rem;
  --h4-font-size: 1.125rem;
  --h4-letter-spacing: 0;
  --h4-margin-bottom: 0.625rem;
  --h5-font-size: 1rem;
  --h5-letter-spacing: 0;
  --h5-margin-bottom: 0.5rem;
  --h6-font-size: 0.875rem;
  --h6-letter-spacing: 0.03rem;
  --h6-margin-bottom: 0.375rem;
}

@media (min-width: 768px) {
  :root {
    --text-font-size: 1.25rem;
    --h0-font-size: 2.5rem;
    --h1-font-size: 2.125rem;
    --h1-letter-spacing: -0.04rem;
    --h1-margin-bottom: 1.125rem;
    --h2-font-size: 1.75rem;
    --h2-letter-spacing: -0.03rem;
    --h2-margin-bottom: 1rem;
    --h3-font-size: 1.5rem;
    --h3-letter-spacing: -0.02rem;
    --h3-margin-bottom: 1rem;
    --h4-font-size: 1.25rem;
    --h4-margin-bottom: 0.75rem;
    --content-padding: 1.5rem;
  }
}

@media (min-width: 992px) {
  :root {
    --text-font-size-sm: 1rem;
    --content-padding: 2rem;
    --h0-font-size: 2.75rem;
    --h1-font-size: 2.5rem;
    --h1-letter-spacing: -0.05rem;
    --h1-margin-bottom: 1.25rem;
    --h2-font-size: 2rem;
    --h2-letter-spacing: -0.03rem;
    --h2-margin-bottom: 1.125rem;
    --h3-font-size: 1.75rem;
    --h3-letter-spacing: -0.02rem;
    --h3-margin-bottom: 1rem;
    --h4-font-size: 1.375rem;
    --h4-letter-spacing: -0.01rem;
    --h4-margin-bottom: 0.75rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --menu-height: 80px;
    --logo-width: 120px;
    --logo-height: 30px;
    --h0-font-size: 3.125rem;
    --h1-font-size: 2.75rem;
    --h1-letter-spacing: -0.05rem;
    --h1-margin-bottom: 1.5rem;
    --h2-font-size: 2.25rem;
    --h2-letter-spacing: -0.04rem;
    --h2-margin-bottom: 1.25rem;
    --h3-font-size: 2rem;
    --h3-letter-spacing: -0.03rem;
    --h3-margin-bottom: 1.25rem;
    --h4-font-size: 1.5rem;
    --h4-letter-spacing: -0.02rem;
    --h4-margin-bottom: 1rem;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: "Campton", Arial, serif;
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
  text-rendering: optimizeSpeed;
  color: var(--color-text);
  -webkit-tap-highlight-color: transparent;
}

body > header > div {
  margin: auto;
  max-width: var(--block-width);
  padding: var(--block-padding);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  border-bottom: var(--border);
  margin: var(--block-margin);
  max-width: var(--hr-width);
}

/* #region basic typography */

@font-face {
  font-family: "Campton";
  font-display: swap;
  src: url("/campton-book-webfont.woff2") format("woff2"),
    url("/campton-book-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Campton";
  font-display: swap;
  src: url("/campton-bold-webfont.woff2") format("woff2"),
    url("/campton-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
.h4,
h5,
h6,
.g-h2 {
  font-weight: 700;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
.g-h2 {
  line-height: 1.25;
}

h1 {
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  margin-bottom: var(--h1-margin-bottom);
}

h2,
.g-h2 {
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
  margin-bottom: var(--h2-margin-bottom);
}

h3 {
  font-size: var(--h3-font-size);
  letter-spacing: var(--h3-letter-spacing);
  margin-bottom: var(--h3-margin-bottom);
}

h4,
.h4 {
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  margin-bottom: var(--h4-margin-bottom);
}

h5 {
  font-size: var(--h5-font-size);
  letter-spacing: var(--h5-letter-spacing);
  margin-bottom: var(--h5-margin-bottom);
}

h6 {
  font-size: var(--h6-font-size);
  letter-spacing: var(--h6-letter-spacing);
  margin-bottom: var(--h6-margin-bottom);
  text-transform: uppercase;
}

code {
  padding: 0.25rem 0.3125rem;
  background-color: var(--color-text-highlight);
}

.text-sm {
  font-size: 0.875rem;
}

.price--sale {
  color: var(--color-reima-blue);
  font-weight: 700;
}

.price--was {
  color: var(--color-border);
  text-decoration: line-through;
}

/* #endregion */

/* #region links */

a,
.link {
  color: var(--color-reima-red);
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  text-decoration-color: var(--color-reima-red);
  text-decoration-thickness: 0.1em;
  text-underline-offset: 2px;
  text-decoration-skip-ink: auto;
}

.link--no-color {
  color: inherit;
  text-decoration-color: inherit;
}

a:hover,
.link:hover {
  color: var(--color-reima-red-hover);
  text-decoration-style: underline;
  text-decoration-color: var(--color-reima-red-hover);
}

.silent-link {
  color: inherit;
  text-decoration: none;
}

.silent-link:hover,
.silent-link:focus {
  color: var(--color-reima-red);
  text-decoration: none;
}

.stretched-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

/* #endregion */

/* #region buttons */

.g-links-as-buttons a,
.btn {
  background-color: transparent;
  border: 2px solid;
  color: var(--color-text);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: var(--text-line-height);
  padding: 0.6875rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  font-family: inherit;
}

.g-links-as-buttons a:hover,
.btn:hover {
  background-color: var(--color-text);
  border-color: var(--color-text);
  color: var(--color-bg);
  text-decoration: none;
}

.btn:disabled,
.btn:disabled:hover {
  cursor: not-allowed;
  background-color: var(--color-gray);
}

.btn--sm {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.btn--lg {
  padding: 1rem 2.2rem;
}

.btn--inv {
  --color-text: white;
  --color-bg: var(--color-fg);
}

.btn--cta {
  background: var(--color-reima-red);
  border: none;
  border-radius: 2px;
  color: white;
  font-weight: 400;
}

.btn--cta:hover,
.btn--cta:focus {
  background: var(--color-cta-hover);
  color: white;
}

.btn--secondary {
  font-weight: 400;
  border-width: 1px;
}

.btn--icon {
  background: none;
  border: none;
}

.btn--icon:hover,
.btn--icon:focus {
  background: transparent;
}

/* #endregion */

/* #region focus */

.btn:focus,
.link:focus,
a:focus {
  outline: var(--focus-outline);
  outline-offset: 2px;
}

.btn--inv:focus {
  outline-color: rgba(255, 255, 255, 0.5);
}

/* #endregion */

input,
textarea {
  font-family: "Campton", Arial, serif;
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
  border: var(--input-border);
  max-width: 100%;
  padding: 0.6875rem 1rem;
  border-radius: 2px;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  box-shadow: 0px 0px 0px 1px var(--color-fg);
  border-color: var(--color-fg);
  outline: none;
  background-color: var(--color-input-focus);
}

.margin-bottom-xs {
  margin-bottom: 0.375rem;
}

.margin-bottom-sm {
  margin-bottom: 0.625rem;
}

.margin-bottom-base {
  margin-bottom: 1rem;
}

.footer-logos {
	margin: 3rem calc(var(--content-padding) / -2) 2rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.footer-logos img {
  margin: calc(var(--content-padding) / 2);
  max-width: calc(100% - var(--content-padding));
}

@media (min-width: 1024px) {
  .footer-logos {
    justify-content: center;
  }
}
