footer {
  --color: var(--color-text);
  background-color: var(--color-bg-accent);
  color: var(--color);
  padding: var(--content-padding) 0;
}

footer ul {
  list-style: none;
  font: 400 1rem/1.25 var(--font-family);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

footer > ul > li {
  margin: 0 0 2rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

footer > ul > li::after {
  content: " ";
  height: 1px;
  display: block;
  background: var(--color);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1rem;
  opacity: 0.12;
}

footer li {
  margin: var(--content-padding);
}

footer ul ul li:last-child {
  margin-bottom: 0;
}

footer ul ul {
  display: none;
  letter-spacing: normal;
  text-transform: none;
  width: 100%;
}

footer a {
  color: var(--color);
  text-decoration: none;
  font-size: 0.875rem;
}

footer a:hover {
  color: inherit;
}


footer > p {
  margin: var(--content-padding);
  font-size: 0.75rem;
  text-align: center;
}

footer label {
  margin: 0 var(--content-padding);
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* hide the arrow svg... */
footer label svg {
  display: none;
}

/* ...and replace with '+' */
footer label::after {
  content: '+';
  font-size: 1.5rem;
  line-height: 0.75;
}

footer input:focus + label {
  outline: var(--focus-outline);
  outline-offset: 2px;
}

footer input:checked + label::after {
  content: '-';
}

footer input:checked ~ ul {
  display: block;
}

.footer-logos {
  margin: calc(var(--content-padding) * 1.5) calc(var(--content-padding) / 2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-logos img {
  margin: calc(var(--content-padding) / 2);
  max-width: calc(100% - var(--content-padding));
}

@media (min-width: 1024px) {
  .footer-logos {
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  footer > ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem -1rem;
  }

  footer > ul > li {
    margin: 0 1rem;
  }

  footer > ul > li:after {
    display: none;
  }

  footer ul ul {
    display: block;
  }

  footer label {
    pointer-events: none;
  }

  footer label a {
    pointer-events: initial;
  }

  footer .icon {
    display: none;
  }

  footer > p {
    text-align: center;
  }
}
