{{ define "dependencies" }}
<meta name="robots" content="noindex">
{{ $.Scratch.Add "css-critical" "_default/cart.css" }}
{{ end }}

{{ define "main" }}

<div class="cart">
  <h1>
    {{T "Cart Title"}}
  </h1>
  <ul items>
    {{- range .Params.items -}}
    <li>
      <img src="{{.img}}" alt="">
      <div>
        <h2>{{.title}}</h2>
        <h3>{{.variant}}</h3>
        <div>1 pcs</div>
      </div>
      <strong>{{.price}}</strong>
    </li>
    {{- else -}}
    <li>Cart not available</li>
    {{- end -}}
  </ul>
  <p empty>{{T "Cart Empty Message"}}</p>
  <div bottomline>
    <h2>{{T "Cart Subtotal"}} <span subtotal>{{.Params.subtotal}}</span></h2>
    {{- $announcements := partial "helpers/get-locale-data" "announcements" -}}
    {{ with $announcements.cartAnnouncement }}
    <p>{{.}}</p>
    {{ end }}
    <a checkout href="#" class="btn btn--cta btn--full-width">{{T "Cart Checkout Button"}}</a>
  </div>
</div>

{{ end }}
