.cart {
  max-width: var(--content-width);
  padding: var(--block-padding);
  margin: var(--block-margin);
}

.cart h1 {
  text-align: center;
}

.cart h2 {
  font-size: clamp(1.125rem, 3vw, 1.5rem);
}

.cart h3 {
  font-size: clamp(1rem, 2vw, 1.125rem);
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 2rem auto;
}

.cart li {
  display: flex;
  align-items: center;
  margin: 1rem auto;
}

.cart li > * + * {
  margin-left: 1rem;
}

.cart li > div {
  flex: 1;
}

.cart ul img {
  width: 150px;
}

.cart ul h2 {
  margin: 0;
}

.cart ul h3 {
  margin-top: 0.5rem;
}

.cart > div {
  text-align: center;
}
