:root {
  --block-width: 1280px;
}

.grid {
  --block-margin: var(--content-padding) auto;
  --grid-template-areas: "banner" "title" "filters" "modules" "links";
  /* this is the display of sidebar and main
  we don't want those in the content flow */
  --container-display: contents;
  --grid-margin: 0;
  --grid-padding: 0;
  --grid-template-columns: 1fr;

  display: grid;
  grid-template-areas: var(--grid-template-areas);
  grid-template-columns: var(--grid-template-columns);
  max-width: var(--block-width);
  margin: var(--grid-margin);
  padding: var(--grid-padding);
}

.grid__banner {
  grid-area: banner;
}

.grid__title {
  grid-area: title;
}

.grid__main {
  display: var(--container-display);
  grid-area: main;
}

.grid__modules {
  grid-area: modules;
}

.grid__sidebar {
  display: var(--container-display);
  grid-area: sidebar;
}

.grid__filters {
  grid-area: filters;
}

.grid__sidebar-links {
  grid-area: links;
}

.grid__title h1 {
  padding: var(--block-padding);
  margin: var(--block-margin);
}

.grid__main h1 {
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
}

.grid__main h2 {
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
}

/* make content module left-aligned when sidebar */
.grid--has-sidebar .grid__main .module-content {
  margin-left: 0;
}

/* TODO: move these `.grid__sidebar` classes to a better place */
.grid__sidebar > * > hr {
  margin: 0 0 var(--content-padding);
}

.grid__sidebar h2 {
  font-size: 0.875rem;
  letter-spacing: 0.03rem;
  line-height: var(--text-line-height);
  text-transform: uppercase;
}

/* normalize ul */
.grid__sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make links discreet */
.grid__sidebar ul a {
  color: var(--color-text);
  text-decoration: none;
  display: block;
  margin: 0.5rem 0;
}

/* #region filters */
.filter-list {
  --block-margin: 0.5rem auto;
  padding: var(--block-padding);
  text-align: center;
}

.filter-list__open {
  margin-bottom: 0.25rem;
}

.filter-list input {
  height: 0;
  overflow: hidden;
  position: absolute;
  opacity: 0;
}

.filter-list__open-checkbox ~ * {
  display: none;
}

.filter-list > div {
  flex-wrap: wrap;
  text-align: left;
  font-size: 0.875rem;
  margin: 0 -0.25rem;
  align-items: start;
}

.filter-list > hr {
  margin: 0.25rem 0;
}

.filter-list__open-checkbox:checked ~ a {
  display: inline-block;
}

.filter-list__open-checkbox:checked ~ div {
  display: flex;
}

.filter-list__open-checkbox:checked ~ hr {
  display: block;
}

.filter-list__name {
  padding: 0.5rem 0;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  width: 100%;
  margin: 0 0.25rem;
  cursor: pointer;
}

.filter-list__name::after {
  float: right;
  content: "+";
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 1;
}

.filter-list__name-checkbox:checked + .filter-list__name::after {
  content: "-";
}

.filter-list__value {
  display: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  border: 1px solid var(--color-border);
  font-size: 0.875rem;
}

.filter-list__name-checkbox:checked ~ .filter-list__value {
  display: block;
}

.filter-list__value-checkbox:checked + .filter-list__value {
  background: var(--color-text);
  color: var(--color-bg);
}

.filter-list__value:last-of-type {
  margin-bottom: 0.5rem;
}

.filter-list__open-checkbox:checked ~ .filter-list__clear {
  display: initial;
}

.filter-list__clear {
  color: inherit;
  text-decoration: underline;
  padding: 0.5rem;
  margin: auto;
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.filter-list__clear:hover,
.filter-list__clear:focus {
  color: var(--color-reima-red);
}
/* #endregion */

/* #region sidebar links */
.sidebar-links {
  padding: var(--block-padding);
}

.sidebar-links__link--has-children {
  margin: 1rem 0;
  font-weight: 700;
}

.sidebar-links__link--has-children ul {
  font-weight: 400;
}

.sidebar-links__opener {
  cursor: pointer;
}

.sidebar-links__opener > h2 {
  display: flex;
  justify-content: space-between;
}

.sidebar-links__opener > h2 span::before {
  content: "+";
}

.sidebar-links__opener + ul {
  display: none;
}

.sidebar-links__opener-chk {
  position: absolute;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.sidebar-links__opener-chk:checked + label h2 span::before {
  content: "-";
}

.sidebar-links__opener-chk:checked + label + ul {
  display: block;
}
/* #endregion */

@media (min-width: 992px) {
  .grid {
    --grid-margin: var(--block-margin);
  }

  .grid--has-sidebar {
    --container-display: block;
    --inner-spacing: 1.5rem;
    --grid-padding: var(--block-padding);
    --grid-template-columns: 25% 1fr;
    --grid-template-areas: "banner banner" "sidebar main";
  }

  .grid--has-sidebar .grid__main {
    --block-padding: 0 0 0 var(--inner-spacing);
  }

  .grid--has-sidebar .grid__main hr {
    margin-left: var(--inner-spacing);
  }

  .grid__sidebar {
    --block-padding: 0 var(--inner-spacing) 0 0;
  }

  .grid__banner {
    padding: var(--block-padding);
    padding-bottom: var(--content-padding);
  }

  .grid--has-sidebar .grid__banner {
    padding-left: 0;
    padding-right: 0;
  }

  .grid__title h1 {
    margin-top: 0;
  }

  .grid__sidebar {
    height: calc(100% - var(--content-padding));
    border-right: var(--border);
  }

  .grid__sidebar > * > hr {
    display: none;
  }

  .filter-list {
    text-align: left;
  }

  .filter-list__open {
    display: none;
  }

  .filter-list__clear {
    display: initial;
    margin-left: -0.5rem;
  }

  .filter-list > div {
    display: flex;
  }

  .filter-list > hr {
    display: block;
  }

  .sidebar-links__opener {
    cursor: default;
  }

  .sidebar-links__opener span {
    display: none;
  }

  .sidebar-links__opener + ul {
    display: block;
  }

  .sidebar-links__opener-chk {
    display: none;
  }
}
