{{ define "dependencies" }}

<!-- add css and ts dependencies -->
{{ range .Params.main }}
<!-- add module css -->
{{ $.Scratch.Add "css-critical" (printf "partials/modules/%s.css" .template) }}
<!-- add module js if it exists -->
{{ $tspath := printf "partials/modules/%s.ts" .template }}
{{ if templates.Exists $tspath }}
{{ $.Scratch.Add "ts" $tspath }}
{{ end }}
{{ end }}

{{ range .Params.banner }}
{{ $.Scratch.Add "css-critical" (printf "partials/modules/%s.css" .template) }}
{{ end }}
{{ $.Scratch.Add "css-critical" "_default/collection.css" }}

<!-- add js if there's fitering needed -->
{{ $.Scratch.Add "ts" "_default/collection.ts"}}

{{ end }}

{{ define "main" }}

{{ $hassidebar := false }}
<!-- check if sidebar parameter exists and is not empty array -->
{{ with .Params.sidebar }}
{{ $hassidebar = len . }}
{{ end }}
<!-- check if filtering enabled on page and algolia on site -->
{{ $hassidebar := or $hassidebar (and .Params.filters site.Params.public.algolia) }}

<div class="grid{{if $hassidebar}} grid--has-sidebar{{end}}">
  {{ with .Params.banner }}
  <div class="grid__banner">
    {{ range . }}
    {{ partial (printf "modules/%s" .template) . }}
    {{ end }}
  </div>
  {{ end }}

  <div class="grid__main">
    {{ with .Title }}
    <div class="grid__title">
      <h1>{{.}}</h1>
    </div>
    {{ end }}

    <div class="grid__modules">
      {{ range $i, $v := .Params.main }}

      <!-- add horizontal line before all modules except hero -->
      {{ if and (ne .template "hero") (ne $i 0)}}
      <hr>
      {{ end }}

      <!-- add filtering before products module -->
      {{ if eq .template "products" }}
      <!-- only add in case no limit is imposed (i.e limit not defined, or limit greater than or equal to number of products -->
      {{ $collectionPage := site.GetPage (printf "/collections/%s" .collection) }}
      {{ if or (not .limit) (ge .limit (len $collectionPage.Pages)) }}
      <div class="grid__sort">
        {{ $numProducts := printf "<strong>%d</strong>" (len $collectionPage.Pages) }}
        <div>{{(default (printf "%s products" $numProducts) (T "Collection page number of products" $numProducts)) | safeHTML}}</div>
        <label for="">
          <select sort-collection="{{.collection}}">
            <option value="COLLECTION_DEFAULT">{{default "Sort..." (T "Collection page sort default")}}</option>
            <option value="PRICE:reverse">{{ default "Highest price" (T "Collection page sort highest price")}}</option>
            <option value="PRICE">{{ default "Lowest price" (T "Collection page sort lowest price")}}</option>
            <option value="BEST_SELLING">{{ default "Most popular" (T "Collection page sort most popular")}}</option>
          </select>
          <svg viewBox="0 0 32 32" class="icon">
            {{ if not ($.Scratch.Get "icon-chevron-down") }}
            {{ $.Scratch.Set "icon-chevron-down" true }}
            <symbol id="icon-chevron-down">
              <path
                d="M16 22q-0.313 0-0.594-0.125t-0.5-0.344v0l-8.5-9q-0.094-0.188-0.156-0.391t-0.063-0.422q0-0.625 0.438-1.063t1.063-0.438q0.25 0 0.484 0.078t0.422 0.234v0l7.406 7.781 7.406-7.844q0.188-0.125 0.438-0.219t0.5-0.094q0.625 0 1.063 0.438t0.438 1.063q0 0.25-0.063 0.453t-0.188 0.391v-0.031l-8.5 9q-0.188 0.25-0.469 0.391t-0.625 0.141v0 0z">
              </path>
            </symbol>
            {{ end }}
            <use xlink:href="#icon-chevron-down"></use>
          </svg>
        </label>
      </div>
      {{ end }}
      {{ end }}

      {{ partial (printf "modules/%s" .template) . }}

      {{ end }}
    </div>
  </div>

  {{ if $hassidebar }}
  <div class="grid__sidebar">
    {{ with .Params.sidebar }}
    {{ if len . }}
    <div class="grid__sidebar-links">
      <hr>
      <div class="sidebar-links">
        <!-- loop through top level with heading -->
        {{ range $i, $k := . }}
        <!-- insert `hr` before all but first item -->
        {{ if $i }}
        <hr>
        {{ end }}
        <!-- add title `h2` only if exists -->
        {{ if .title }}
        {{ if .collapse_mobile }}
        <input type="checkbox" id="links-opener-{{$i}}" class="sidebar-links__opener-chk">
        <label for="links-opener-{{$i}}" class="sidebar-links__opener">
          <h2>{{.title}} <span></span></h2>
        </label>
        {{ else }}
        <h2>{{.title}}</h2>
        {{ end }}
        {{ end }}
        <!-- create links -->
        <ul>
          {{ range .children }}
          {{ $haschildren := len (.children | default slice) }}
          <li {{if $haschildren}}class="sidebar-links__link--has-children" {{end}}>
            <a href="{{.link}}">{{.title}}</a>
            {{ if $haschildren }}
            <ul>
              {{ range .children }}
              <li><a href="{{.link}}">{{.title}}</a></li>
              {{ end }}
            </ul>
            {{ end }}
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ end }}

    {{ if and .Params.filters .Site.Params.public.algolia }}
    <div class="grid__filters">
      <hr>
      <form id="filters" class="filter-list">
        <!-- get all available options in child (product) pages -->
        {{- range .Pages }}
        {{- $handle := "" }}
        {{- with .File }}
        {{- $handle = .ContentBaseName}}
        {{- end }}
        {{- with .GetPage (printf "/products/%s" $handle) }}
        {{- range $key, $value := .Params.filtering }}
        {{- if not ($.Scratch.Get "options") }}
        {{- $.Scratch.Set "options" dict }}
        {{- end }}
        {{- $current := index ($.Scratch.Get "options") $key }}
        {{- if not $current }}
        {{- $current = slice }}
        {{- end }}
        {{- $.Scratch.SetInMap "options" $key ($current | append $value | uniq) }}
        {{- end }}
        {{- end }}
        {{- end }}

        {{- $options := $.Scratch.Get "options" }}
        {{- if not $options }}
        {{- $options = dict }}
        {{- end }}

        <label class="btn btn--secondary filter-list__open" for="open-filters">
          {{default "Filter selection" (T "Collection page filter selection")}}
        </label>
        <input type="checkbox" name="open-filters" id="open-filters" class="filter-list__open-checkbox">
        {{ range $.Site.Data.features.order }}
        {{ $name := lower . }}
        {{ with index $options . }}
        {{ $values := . }}
        <div>
          <input type="checkbox" name="open-{{$name}}" id="open-{{$name}}" class="filter-list__name-checkbox">
          <label for="open-{{$name}}" class="filter-list__name">
            {{ with T (printf "Product feature: %s" $name) }}
            {{.}}
            {{ else }}
            {{$name}}
            {{ end }}
          </label>
          {{ $order := index $.Site.Data.features $name }}
          {{ range partial "helpers/order" (dict "array" $values "order" $order) }}
          <input type="checkbox" name="filtering.{{$name}}" value="{{.}}" id="{{$name}}-{{.}}"
            class="filter-list__value-checkbox">
          <label for="{{$name}}-{{.}}" class="filter-list__value btn btn--secondary">
            {{ if eq $name "color" }}
            <span style="background-color: {{index $.Site.Data.colors (. | lower)}};"></span>
            {{ end }}
            {{ with T (printf "Product feature description: %s" $name) . }}
            {{.}}
            {{ else }}
            {{.}}
            {{ end }}
          </label>
          {{ end }}
        </div>
        <hr>
        {{ end }}
        {{ end }}
        <input type="reset" class="filter-list__clear" value="Clear filters">
      </form>
      <div id="clear"></div>
      {{ with .File }}
      <script>
        collection = '{{path.Base .Dir}}';
      </script>
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>

{{ end }}

{{ define "categories" }}
{{ with . }}
<ul>
  {{ range . }}
  <li>
    <a href="/collections/{{.collection}}">{{ .heading }}</a>
    {{ template "categories" .categories }}
  </li>
  {{ end }}
</ul>
{{ end }}
{{ end }}
