{{ define "dependencies" }}
{{ $.Scratch.Add "css-critical" "index" }}
{{ range .Params.main }}
{{ $.Scratch.Add "css-critical" (printf "modules/%s" .template) }}
{{ end }}
{{ range .Params.banner }}
{{ $.Scratch.Add "css-critical" (printf "modules/%s" .template) }}
{{ end }}
{{ $.Scratch.Add "css-critical" "pages/interstitial" }}
{{ end }}

{{ define "main" }}


<div class="sidebar">
  <div class="sidebar__banner">
    {{ range .Params.banner }}
    {{ partial (printf "modules/%s" .template) . }}
    {{ end }}
  </div>
  <div class="sidebar__main">
    {{ range $i, $v := .Params.main }}

    {{ if and (ne .template "hero") (ne $i 0)}}
    <hr>
    {{ end }}

    {{ if eq .template "categories" }}
    {{ partial (printf "modules/%s" .template) $.Params.categories }}
    {{ else if eq .template "purposes" }}
    {{ partial (printf "modules/%s" .template) $.Params.purposes }}
    {{ else }}
    {{ partial (printf "modules/%s" .template) . }}
    {{ end }}

    {{ end }}
  </div>
  <div class="sidebar__sidebar">
    <div class="category-list">
      <input type="checkbox" id="categories-opener">
      <label for="categories-opener" class="categories">
        <h2>Shop by category <span></span></h2>
      </label>
      {{ template "categories" .Params.categories }}
      <h2>Shop by purpose</h2>
      {{ template "categories" .Params.purposes }}
    </div>
  </div>
</div>

{{ end }}

{{ define "categories" }}
{{ with . }}
<ul>
  {{ range . }}
  <li>
    <a href="/collections/{{.collection}}">{{ .heading }}</a>
    {{ template "categories" .categories }}
  </li>
  {{ end }}
</ul>
{{ end }}
{{ end }}