{{ define "dependencies" }}
{{ range .Params.modules }}
{{ $.Scratch.Add "css-critical" (printf "partials/modules/%s.css" .template) }}
{{ end }}
{{ if .Content }}
{{ $.Scratch.Add "css-critical" "partials/modules/content.css" }}
{{ end }}
{{ if .Params.buybutton }}
{{ $.Scratch.Add "ts" "_default/page-buy-button.ts" }}
{{ end }}
{{ end }}

{{ define "main" }}

{{ range $i, $k := .Params.modules }}

<!-- render module template -->
<!-- add module index (order on page) to params passed to partial -->
<!-- also add the page object, as this may be useful -->
{{ $params := merge . (dict "modulenr" $i "pageobj" $) }}
{{ partial (printf "modules/%s" .template) $params }}

<!-- add module ts file if it exists -->
{{ $tspath := printf "partials/modules/%s.ts" .template }}
{{ if templates.Exists $tspath }}
{{ $.Scratch.Add "ts" $tspath }}
{{ end }}

{{ end }}

{{ with .Content }}
<section class="module-content container">
  {{.}}
</section>
{{ end }}
<!-- render Schema.org Markup as html -->
{{ if .Params.schema_visible }}
{{ with .Params.schema }}
{{ . | safeHTML}}
{{ end }}
{{ end }}
{{ end }}
