{{ define "dependencies" }}
<meta name="robots" content="noindex">
{{ $.Scratch.Add "css-critical" "_default/search.css" }}
{{ $.Scratch.Add "css-critical" "partials/elements/r-search-results.css" }}
{{ $.Scratch.Add "css-critical" "partials/elements/r-search-filters.css" }}
{{ end }}

{{ define "main" }}

{{ $tsname := "_default/search.ts" }}
{{- $js := (resources.Get $tsname) | js.Build (dict "format" "esm") -}}
<script src="{{$js.RelPermalink}}" type="module"></script>

<input id="show-filters" type="checkbox">
<header>
  <r-search-title>
    {{- if and ( site.LanguageCode ) ( eq site.LanguageCode "ja-jp" ) }}
    <h1><span query></span> <span></span>{{ T "Search page title" | default "Search results for" }} </h1>
    <div><span count></span> {{ T "Search page results" | default "results" }}</div>
    {{- else }}
    <h1>{{ T "Search page title" | default "Search results for" }} <span query><span></h1>
    <div><span count></span> {{ T "Search page results" | default "results" }}</div>
    {{- end }}
  </r-search-title>
  <label class="btn btn--secondary" for="show-filters">
    {{default "Filter selection" (T "Collection page filter selection")}}
  </label>
</header>
<aside class="filters">
  {{partial "elements/r-search-filters"}}
  <label class="btn btn--inv" for="show-filters">X</label>
</aside>
{{partial "elements/r-search-results" (dict "take" 50 "loadMore" true "filters" "r-search-filters" "title" "r-search-title" "showRelated" true)}}

{{ end }}
