{{ define "dependencies" }}
{{ $.Scratch.Add "css-critical" "_default/status" }}
{{ $.Scratch.Add "js-async" "status.js" }}
{{ end }}

{{ define "main" }}
<section class="status">
  <h1>{{.Title}}</h1>
  <p>Theme version: {{.Params.version}}</p>
  <h2>
    Site publishing
  </h2>
  <p>
    <button class="btn btn--cta" id="publish">Initiate publish</button>
  </p>
  <p>
    <strong>Last publishing run</strong><br>
    Created at: <span id="created_at">...</span><br>
    Status: <span id="status">...</span><br>
    Conclusion: <span id="conclusion">...</span>
  </p>
  {{.Content}}
</section>
{{ end }}