.status {
  --h3-font-size: 1.25rem;
  padding: var(--block-padding);
  margin: var(--block-margin);
  max-width: var(--content-width);
}

.status > h1:first-child {
  margin-bottom: 0.5rem;
}

/* this is the version number */
.status > h1:first-child + p {
  margin: 0.5rem 0;
  font-style: italic;
}

.status__log input {
  position: fixed;
  left: -100px;
  visibility: hidden;
}

.status__log input:checked ~ label {
  display: none;
}

.status__log code {
  display: none;
  background: none;
  padding: 0;
}

.status__log input:checked ~ code {
  display: initial;
}
