<section class="banner">
  {{ $img := .Page.Resources.GetMatch .Params.image }}
  {{ if not $img }}
  {{ $img = partial "helpers/get-image" .Params.image }}
  {{ end}}
  {{ with $img }}
  {{partial "image" (dict "image" . "widths" "1024,768,375" "class" "responsive-img")}}
  {{ end }}
  <div>
    {{ with .Params.heading }}
    <h1>{{.}}</h1>
    {{ end }}
    {{ with .Params.text }}
    <p>{{.}}</p>
    {{ end }}
    {{ with .Params.button }}
    <a href="{{partial "modules-deprecated/link" (dict "link" .link "root" $.Page)}}"
      class="button button--secondary">{{.text}}</a>
    {{ end }}
  </div>
</section>