.module-purposes {
  padding: var(--block-padding);
  margin: var(--block-margin);
  max-width: var(--block-width);
}

.module-purposes > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  text-align: center;
  gap: 10px;
}