{{- if .benefitsEnabled }}
{{- with .benefits }}
<section class="benefits">
  <div class="container">
    {{- range .links }}
    <a href="{{partial "helpers/get-link" (dict "url" .url "context" "benefit bar links")}}" class="benefit">
      <div class="icon">
        {{- if .icon }}
        <!-- Create alt text from image filename -->
        {{- $alt := ""}}
        <!-- check if this is png or jpeg and resize if it is -->
        {{- $img := partial "helpers/get-image" .icon }}
        <!-- check if this is png or jpeg and resize if it is -->
        {{- if or (eq $img.MediaType.SubType "png") (eq $img.MediaType.SubType "jpeg")}}
        <img srcset="
          {{$img.RelPermalink}}?nf_resize=fit&w={{.width}} 1x,
          {{$img.RelPermalink}}?nf_resize=fit&w={{(mul .width 2)}} 2x"
          src="{{$onex.RelPermalink}}" alt="{{$alt}}"
          width="{{.width}}" {{with .height}} height="{{.}}"{{end}}>
        <!-- if some other type (like svg), just output directly -->
        {{- else }}
        <img src="{{$img.RelPermalink}}" alt="{{$alt}}" width="{{.width}}"{{with .height}} height="{{.}}"{{end}}>
        {{- end }}
        {{- end }}
      </div>
      <h3 class="heading">{{.heading}}</h3>
      <span class="cta">{{.text}}</span>
    </a>
    {{- end }}
  </div>
</section>
{{- else }}
{{- warnf "Benefits not found for %s" site.Language }}
{{- end }}

{{- end }}
