r-cart {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
  padding: 0rem;
  box-sizing: border-box;
}

r-cart .icon {
  position: relative;
}

r-cart .icon span {
  opacity: 0;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  transform: translate(50%, -50%);
  transition: all 0.2s ease-in-out;
  transition-property: width, height;
  display: block;
  background: var(--color-reima-red);
  border-radius: 50%;
  position: absolute;
  color: transparent;
  overflow: hidden;
}

r-cart .icon span:not(:empty) {
  width: 0.75rem;
  height: 0.75rem;
  opacity: 1;
}

r-cart button[close]:focus {
  outline: var(--focus-outline);
  outline-offset: 2px;
}

.r-cart__overlay {
  display: block;
  background: var(--color-overlay-bg);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.5s;
  z-index: 10;
}

r-cart[open] .r-cart__overlay {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
  z-index: +1;
}

r-cart[open] .r-cart__main {
  opacity: 1;
  transform: translateX(0);
  z-index: +1;
}

.r-cart__overlay > [close] {
  flex: 1;
}

.r-cart__main {
  background: white;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  height: 100%;
  transform: translateX(100%);
  margin-left: auto;
  transition: all 0.2s;
  transition-delay: 0.2s;
}

r-cart h1 {
  border-bottom: var(--border);
  padding: 0 1rem;
  margin: 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: var(--menu-height);
}

r-cart .items {
  flex: 1;
  padding: 2rem 1rem;
  overflow: auto;
}

r-cart .empty {
  display: none;
  padding: 2rem;
}

r-cart .summary {
  display: none;
  border-top: var(--border);
  padding: 1rem;
}

r-cart .summary h2 {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 1rem;
  letter-spacing: 0.1em;
}

r-cart .items:empty {
  display: none;
}

r-cart .items:empty ~ .empty {
  display: block;
}

r-cart[checkout-id]:not([loading]) .items:not(:empty) ~ .summary {
  display: block;
}

r-cart .checkout {
  display: block;
}

r-cart .items > div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

r-cart .items > div > div {
  flex: 1;
  margin-left: 1rem;
}

r-cart .items img {
  width: 25%;
  max-width: 130px;
}

r-cart .items h2 {
  font-size: 1.125rem;
  margin: 0 0 0.5rem;
}

r-cart .items h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

r-cart .items .subtotal {
  display: flex;
  align-items: center;
}

r-cart .items .quantity {
  display: inline-flex;
  border: var(--border);
  border-radius: 3px;
}

r-cart .items .quantity button {
  padding: 0.5rem;
  background: transparent;
  border: none;
  line-height: 1;
}

r-cart .items .quantity button:focus {
  outline: var(--focus-outline);
  outline-offset: 2px;
}

r-cart .items input {
  width: 3rem;
  border-bottom: none;
  border-top: none;
  border-radius: unset;
  height: 2rem;
  text-align: center;
  background: transparent;
}

r-cart .price {
  flex: 1;
  text-align: right;
  letter-spacing: unset;
  font-weight: 700;
}

r-cart input::-webkit-outer-spin-button,
r-cart input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

r-cart input[type="number"] {
  -moz-appearance: textfield;
}
