r-newsletter {
  max-width: 500px;
  margin: 3rem auto;
  padding: 0 20px;
  display: block;
}

r-newsletter h2,
r-newsletter p {
  text-align: center;
}

r-newsletter input {
  background-color: var(--color-gray-lighter);
  width: 100%;
  font-size: 1rem;
}

r-newsletter label {
  display: flex;
  align-items: center;
  margin: 0.75rem 0;
}

r-newsletter label,
r-newsletter label .md {
  font-size: 0.875rem;
}

r-newsletter label input {
  width: unset;
  margin-right: 1rem;
}

r-newsletter form [consent] {
  display: none;
}

r-newsletter form[consent] [consent] {
  display: block;
}

r-newsletter form [failure] {
  color: red;
  text-align: left;
}

r-newsletter form [success] {
  display: none;
}

r-newsletter form[success] [success] {
  display: block;
  font-weight: 700;
}

r-newsletter form[success] [consent],
r-newsletter form[success] input {
  display: none;
}
