.search {
  --display: none;
}

.search:target {
  --display: block;
}

.search [results] {
  --display: none;
}

.search [results][show] {
  --display: block;
}

.search {
  overflow: auto;
  display: var(--display);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--color-bg);
  z-index: 1;
}

.search > * {
  padding: 0 var(--content-padding);
  margin: var(--content-padding) 0;
}

.search__header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--content-padding);
}

.search__header form {
  display: grid;
  grid-template-columns: 1fr auto;
  border: var(--border);
}

.search__header form input {
  border: none;
  box-shadow: none;
  background: none;
  height: 100%;
  min-width: 150px;
}

.search__header form button {
  width: 50px;
  height: 50px;
  padding: 15px;
}

.search__header .icon {
  align-self: center;
}

.search__close {
  background: var(--color-bg-accent);
  border-radius: 50%;
  padding: 0.5em;
}

.search [results] {
  display: var(--display);
}

.search__product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
  list-style: none;
  padding: 0;
  margin: 0;
  gap: var(--content-padding);
}

.search__product-list a {
  display: block;
}

.search__product-list h4 {
  font-size: 0.875rem;
  margin: 0.5rem 0 0.25rem;
}

.search__list-title {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--color-text-muted);
}

.search__link-list {
  list-style: none;
  padding: 0;
  margin: var(--content-padding) 0 calc(var(--content-padding) * 2);
}

.search__link-list a {
  display: block;
  padding: calc(var(--content-padding) / 2) 0;
}
