<r-search-loop id="search" class="search" results="#search-results">
  <div class="search__header">
    <form action="/search" method="GET" autocomplete="off">
      <input name="q" type="search" placeholder="Search for products">
      <button class="icon" type="submit">
        <svg>
          <use xlink:href="#icon-search"></use>
        </svg>
      </button>
    </form>
    <label for="open-search" class="icon search__close">
      <svg>
        <use xlink:href="#icon-close"></use>
      </svg>
    </label>
  </div>
  <div class="search__body">
    {{partial "elements/r-search-results" (dict "showRelated" true)}}
  </div>
</r-search-loop>
