.search {
  --display: none;
  --bg: var(--color-bg);
}

input:checked + .search {
  --display: grid;
}

@media (min-width: 768px) {
  .search {
    --bg: var(--color-overlay-bg);
  }
}

.search {
  overflow: auto;
  display: var(--display);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  grid-template-rows: min-content minmax(50%, min-content);
  background: var(--bg);
}

.search:target::before {
  content: none;
}

.search__header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--content-padding);
  padding: var(--content-padding) max(var(--content-padding), (100% - var(--content-max-width))/2);
  background: var(--color-bg);
}

.search__header form {
  display: grid;
  grid-template-columns: 1fr auto;
  border: var(--border);
}

.search__header form input {
  border: none;
  box-shadow: none;
  background: none;
  height: 100%;
  min-width: 150px;
}

.search__header form button {
  width: 50px;
  height: 50px;
  padding: 15px;
}

.search__header .icon {
  align-self: center;
}

.search__close {
  background: var(--color-bg-accent);
  border-radius: 50%;
  padding: 0.5em;
}

.search__body {
  overflow: auto;
  border-top: var(--border);
  padding: 0 max(var(--content-padding), (100% - var(--content-max-width))/2);
  background: var(--color-bg);
}
