r-search-autocomplete h3 {
	font-size: 0.875rem;
	text-transform: uppercase;
	color: var(--color-text-muted);
	margin-top: var(--content-padding);
}

r-search-autocomplete ul {
  list-style: none;
  padding: 0;
}

r-search-autocomplete ul a {
	display: block;
	padding: calc(var(--content-padding) / 2) 0;
}
