r-search #searchbox {
  display: flex;
  align-items: center;
  border-bottom: var(--border);
  height: var(--menu-height);
}

r-search button[close] {
  margin-right: 1rem;
}

r-search button[close]:focus {
  outline: var(--focus-outline);
  outline-offset: 2px;
}

r-search .ais-SearchBox {
  background: white;
  padding: 0 1rem;
  flex: 1;
}

r-search .ais-SearchBox-form {
  display: flex;
  max-width: 500px;
  margin: auto;
}

r-search .ais-SearchBox-input {
  flex: 1;
}

r-search .ais-SearchBox-form button {
  background: none;
  padding: 0.5rem;
  border: var(--input-border);
  border-radius: 2px;
  margin-left: 0.25rem;
}

r-search #hits {
  overflow: auto;
  max-height: 80vh;
  padding: 0 1rem;
}

r-search ol {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 500px;
  margin: auto;
}

r-search li {
  padding: 0.5rem 0;
}

r-search .hit {
  display: flex;
  text-decoration: none;
  color: inherit;
  align-items: center;
}

r-search .hit > img {
  width: 20%;
  height: auto;
}

r-search .hit > div {
  flex: 1;
  margin-left: 0.5rem;
}

r-search .hit-name {
  font-weight: 700;
  font-size: var(--text-font-size-sm);
  margin-bottom: 0.25rem;
}

r-search .hit-price {
  font-size: var(--text-font-size-sm);
}

r-search .ais-Hits--empty {
  padding: 2rem 0;
}
