.breadcrumb {
  display: none;
}

@media (min-width: 768px) {
  .breadcrumb {
    display: block;
    list-style: none;
    margin: var(--block-margin);
    padding: var(--block-padding);
    max-width: var(--block-width);
  }
  
  .breadcrumb > * {
    display: inline;
  }
  
  .breadcrumb > * + *::before {
    content: ' / ';
  }
  
  .breadcrumb a {
    color: inherit;
    text-decoration: none;
  }
}