.breadcrumb {
  display: none;
}

@media (min-width: 768px) {
  .breadcrumb {
    display: block;
    list-style: none;
    margin: var(--content-padding) 0;
    padding: var(--block-padding);
    max-width: var(--block-width);
    font-size: 0.875rem;
  }

  .breadcrumb > * {
    display: inline-block;
    position: relative;
    margin-right: 0.25rem;
  }

  .breadcrumb > * + *::before {
    content: " > ";
    margin-right: 0.25rem;
    color: var(--color-border);
  }

  .breadcrumb a {
    color: var(--color-border);
    text-decoration: none;
  }

  .breadcrumb a:focus,
  .breadcrumb a:hover {
    color: var(--color-text);
  }
}
