.carousel {
  position: relative;
}

.carousel ul {
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-snap-points-y: repeat(100%);
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  margin: 0;
  padding: 0;
}

.carousel ul::-webkit-scrollbar {
  display: none;
}

.carousel ul li {
  position: relative;
  min-width: 100%;
  list-style: none;
  scroll-snap-align: start;

}

.carousel .image-links__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.carousel ul li > picture {
  object-fit: cover;
}

.carousel ul li > picture img {
  width: 100%;
}

.carousel ul li > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel ol {
  position: absolute;
  bottom: -40px;
  display: none;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 0;
  z-index: 9;
}

.carousel ol li {
  list-style: none;
  padding: 0 5px;
}

.carousel ol li a {
  background-color: #38383b;
  border-radius: 100%;
  display: block;
  height: 8px;
  width: 8px;
  opacity: 0.25;
}

.carousel ol li.selected a {
  opacity: 1;
}

.carousel .prev,
.carousel .next {
  display: none;
  user-select: none;
  cursor: pointer;
  font-size: 50px;
  color: white;
  position: absolute;
  left: 0;
  padding: 15px 15px 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  line-height: 0;
}

.carousel .next {
  left: auto;
  right: 0;
}

.carousel .image-links__overlay {
  box-sizing: border-box;
}

.image-links .carousel {
  display: block;
  margin-bottom: 50px;
}

.image-links--mobile-2 .carousel__item {
  box-sizing: border-box;
  margin-right: 1rem;
  min-width: calc(50% - 12px);
}
.image-links--mobile-2 .carousel__item:last-child {
  margin-right: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .image-links .carousel__item {
    box-sizing: border-box;
    margin-right: 1rem;
    min-width: calc(50% - 12px);
  }

  .image-links--tablet-2 .carousel__item {
    box-sizing: border-box;
    margin-right: 1rem;
    min-width: calc(50% - 12px);
  }
  .image-links--tablet-2 .carousel__item:last-child {
    margin-right: 0;
  }
  .image-links--tablet-2 .dots li {
    display: none;
  }
  .image-links--tablet-2 .dots li:nth-child(2n + 1) {
    display: inline-block;
  }

  .image-links--tablet-3 .carousel__item {
    box-sizing: border-box;
    margin-right: 1rem;
    min-width: calc(33.333% - 12px);
  }
  .image-links--tablet-3 .carousel__item:last-child {
    margin-right: 0;
  }
  .image-links--tablet-3 .dots li {
    display: none;
  }
  .image-links--tablet-3 .dots li:nth-child(3n + 1) {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .image-links--desktop-3 .carousel__item {
    box-sizing: border-box;
    margin-right: 1rem;
    min-width: calc(33.3333% - 12px);
  }
  .image-links--desktop-3 .carousel__item:last-child {
    margin-right: 0;
  }
  .image-links--desktop-3 .dots li {
    display: none;
  }
  .image-links--desktop-3 .dots li:nth-child(3n + 1) {
    display: inline-block;
  }

  .image-links--desktop-4 .carousel__item {
    box-sizing: border-box;
    margin-right: 1rem;
    min-width: calc(25% - 12px);
  }
  .image-links--desktop-4 .carousel__item:last-child {
    margin-right: 0;
  }
  .image-links--desktop-4 .dots li {
    display: none;
  }
  .image-links--desktop-4 .dots li:nth-child(4n + 1) {
    display: inline-block;
  }
}
