<!-- 
  Render hero image and possible text and buttons

  Expects the page as the only parameter, and the page
  should have `hero` frontmatter set
 -->
{{ $page := . }}
{{ with .Params.hero }}
<r-carousel autoscroll>
  <div>
    {{ range $i, $h := . }}
    <div class="hero">
      {{ $anchor := "" }}
      {{ with .anchor }}
      {{ $anchor = printf " %s" .}}
      {{ end }}
      {{ $img := $page.Page.Resources.GetMatch .image }}
      {{ if not $img }}
      {{ $img = partial "helpers/get-image" .image }}
      {{ end}}
      {{ with $img }}
      {{ if eq .MediaType.SubType "jpeg" }}
      <picture>
        <!-- first image should be loaded normally and immediately -->
        {{ if eq $i 0 }}
        <source media="(min-width: 768px)" srcset="
          {{(.Fill (printf "768x384%s" $anchor)).RelPermalink}} 768w,
          {{(.Fill (printf "1536x768%s" $anchor)).RelPermalink}} 1536w,
          {{(.Fill (printf "1440x720%s" $anchor)).RelPermalink}} 1440w,
          {{(.Fill (printf "2880x1440%s" $anchor)).RelPermalink}} 2880w
        ">
        <source srcset="
          {{(.Fill (printf "375x500%s" $anchor)).RelPermalink}} 375w,
          {{(.Fill (printf "750x1000%s" $anchor)).RelPermalink}} 750w,
          {{(.Fill (printf "1080x1440%s" $anchor)).RelPermalink}} 1080w,
          {{(.Fill (printf "1500x2000%s" $anchor)).RelPermalink}} 1500w
        ">
        <img src="{{(.Fill (printf "1440x1440%s" $anchor)).RelPermalink}}" />
        <!-- make images lazy if not the first image -->
        {{ else }}
        <source media="(min-width: 768px)" data-srcset="
          {{(.Fill (printf "768x384%s" $anchor)).RelPermalink}} 768w,
          {{(.Fill (printf "1536x768%s" $anchor)).RelPermalink}} 1536w,
          {{(.Fill (printf "1440x720%s" $anchor)).RelPermalink}} 1440w,
          {{(.Fill (printf "2880x1440%s" $anchor)).RelPermalink}} 2880w
        " loading="lazy">
        <source data-srcset="
          {{(.Fill (printf "375x500%s" $anchor)).RelPermalink}} 375w,
          {{(.Fill (printf "750x1000%s" $anchor)).RelPermalink}} 750w,
          {{(.Fill (printf "1080x1440%s" $anchor)).RelPermalink}} 1080w,
          {{(.Fill (printf "1500x2000%s" $anchor)).RelPermalink}} 1500w
        " loading="lazy">
        <img class="lazyload" loading="lazy" data-src="{{(.Fill (printf "1440x1440%s" $anchor)).RelPermalink}}" />
        {{ end }}
      </picture>
      {{ else }}
      {{ warnf "Hero is %s on %s" .MediaType $page.File.Path }}
      {{ end }}
      {{ end }}
      <div>
        <div>
          {{ with .heading }}
          <h1>{{.}}</h1>
          {{ end }}
          {{ with .subheading }}
          <h2>{{.}}</h2>
          {{ end }}
          {{ with .text }}
          <p>{{.}}</p>
          {{ end }}
          {{ with .button }}
          <a class="button" href="{{partial "modules-deprecated/link" (dict "link" .link "root" $)}}">{{.text}}</a>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>

  {{ if gt (len .) 1 }}
  <button prev></button>
  <button next></button>
  {{ end }}
</r-carousel>
{{ end }}