<!-- 
  Create an image from the media folder using the image partial

  Parameters expected (as a `dict`):

  - image
    Image resource to output.

  - widths
    Comma-separated string of widths for srcset. The first
    width in the list is used for the default src.
  
  - sizes
    Sizes attribute for the img

 -->

{{- with trim .image "/" }}
{{- with partial "helpers/get-image" . }}
{{- partial "image" (dict "image" . "widths" $.widths "sizes" $.sizes) }}
{{- else }}
{{- warnf "Could not find image %s" . }}
{{- end }}
{{- end }}