{{ $product := partial "helpers/get-product" . }}
{{ $settings := partial "helpers/get-locale-data" "productpage" }}

{{ with $product }}

<div class="product">

  <!-- find first available variant options -->
  {{ if not .Params.variants }}
  {{ errorf "%s has no variants" .File.ContentBaseName }}
  {{ end }}
  {{ $firstAvailableVariant := index (where .Params.variants "available" true | first 1) 0 }}
  {{ $firstAvailableOptions := $firstAvailableVariant.options }}
  
  <div class="product__header">
    <h1 class="g-h2" id="product-name">
      {{.Title}}
    </h1>
    <div class="product-prices">
      {{ with $firstAvailableVariant }}
      {{ partial "product-price" . }}
      {{ else }}
      {{ partial "product-price" .Params }}
      {{ end }}
      {{ with partial "helpers/get-reviews-bottomline" $product.Params.yotpoId }}
      <div>
        <a href="#reviews" class="product-reviews silent-link">
          {{ range seq (math.Round .average) }}★{{ end }} <span class="rating">{{ div (math.Round (mul .average 10)) 10 }}
            <span class="review-count">({{.count}})</span></span>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
  <div>
    {{ $imgs := .Resources.ByType "image" }}
    {{- $alt := ""}}
    <r-carousel>
      <div>
        <!-- sizes: roughly 100vw up to 768px, 40vw but max 536px after that -->
        {{- $sizes := "(min-width: 768px) min(40vw, 536px), 100vw" }}
        {{- with index $imgs 0  }}
        {{- with .Params.alt }}
        {{- $alt = . }}
        {{- end }}
        <img srcset="{{partial "srcset" (dict "image" . "widths" "375,750")}}" src="{{(.Resize "375x").RelPermalink}}"
          height="{{.Height}}" width="{{.Width}}" sizes="{{$sizes}}" data-path="{{.Name}}" alt="{{$alt}}" />
        {{- end }}
        {{- range $i, $img := after 1 $imgs }}
        {{- with .Params.alt }}
        {{- $alt = . }}
        {{- end }}
        {{- partial "image" (dict "image" . "widths" "375,750" "sizes" $sizes "dataset" (dict "path" .Name) "alt" $alt)}}
        {{- end }}
      </div>
      {{ if gt (len $imgs) 1 }}
      <button prev></button>
      <button next></button>
      {{ end }}
    </r-carousel>

    {{ range $i, $video := .Params.videos }}
    <a class="video-link" openid="video-{{$i}}">
      <span>&#9654; {{T "Video"}}</span>
    </a>
    <div class="modal modal--video" id="video-{{$i}}">
      <div>
        <button class="icon" close>
          <svg>
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
        <video autoplay muted controls src="{{.url}}"></video>
      </div>
    </div>
    {{ end }}

    {{ if gt (len $imgs) 1 }}
    <r-thumbnails carousel="r-carousel">
      {{ range $i, $img := $imgs }}
      {{ $sizes := "(min-width: 768px) min(6vw, 82px), 15vw" }}
      {{partial "image" (dict "image" . "widths" "100,200" "sizes" $sizes "dataset" (dict "path" .Name))}}
      {{ end }}
    </r-thumbnails>
    {{ end }}
  </div>
  <div>

    <form action="/cart" method="POST" data-variant="{{$firstAvailableVariant.id}}" id="product-form" data-product-images="r-carousel">
      <!-- TODO: DEPRECATED -->
      <input type="hidden" name="product-id"
        value="{{printf "gid://shopify/Product/%s" .Params.yotpoId | base64Encode}}">

      <div class="product__header--desktop">
        <h1 class="g-h2" id="product-name">
          {{.Title}}
        </h1>
        <div class="product-prices">
          {{ with $firstAvailableVariant }}
          {{partial "product-price" .}}
          {{ else }}
          {{partial "product-price" .Params}}
          {{ end }}
          {{ with partial "helpers/get-reviews-bottomline" $product.Params.yotpoId }}
          <div>
            <a href="#reviews" class="product-reviews silent-link">
              {{ range seq (math.Round .average) }}★{{ end }} <span class="rating">{{ div (math.Round (mul .average 10)) 10 }}
            <span class="review-count">({{.count}})</span></span>
            </a>
          </div>
          {{ end }}
        </div>
      </div>

      <hr>

      <!-- skip rendering if only one (or less) variant, and that variant is not the default -->
      {{ if not (and (le (len $product.Params.variants) 1) $product.Params.hasOnlyDefaultVariant) }}
      {{ range $product.Params.options }}
      {{ $name := .name }}
      {{ $nameEnglish := $name }}
      <!-- see if this is color, and change class name if yes -->
      {{ if eq $nameEnglish site.Params.coloroption }}
      {{ $nameEnglish = "Color" }}
      {{ end }}
      <!--
      if this is the color option, and we have the sku color code available,
      create a dict with color name as key and sku color code as value
      in this case the colors in `data/colors.yml` should also have the sku color as keys
      (this is the case in the default data file in the theme
      -->
      {{ $colorNameToSku := dict }}
      {{ if and (eq $nameEnglish "Color") (index $product.Params.variants 0).colorCode }}
      {{ range $i, $v := $product.Params.variants }}
      {{ $colorName := index $v.options site.Params.coloroption }}
      {{ with index $colorNameToSku $colorName }}
      {{ if ne $v.colorCode . }}
      {{ warnf "Product %s has a variant with different sku color codes (%s) for the same color name (%s)" $product.Title $v.colorCode $colorName }}
      {{ end }}
      {{ else }}
      {{ $colorNameToSku = merge $colorNameToSku (dict $colorName $v.colorCode) }}
      {{ end }}
      {{ end }}
      {{ end }}

      <fieldset class="selections selections--{{$nameEnglish}}">
        <legend>{{.name}}<span id="selected-{{$name}}">{{.firstAvailable}}</span></legend>
        <ul>
          {{ range .values }}
          <li>
            {{ $id := printf "%s-%s" $name .value}}
            <input type="radio" name="{{$name}}" id="{{$id}}" value="{{.value}}"
              {{ if .firstAvailable }}checked{{ end }} />

            {{ $labelStyle := "" }}
            {{ $swatch := "" }}
            {{ if eq $nameEnglish "Color" }}
            {{ $colorKey := .value }}
            <!-- if there is a mapping from the color name to sku color code, use that as key -->
            {{ with index $colorNameToSku .value }}
            {{ $colorKey = . }}
            {{ end }}
            {{ with partial "helpers/get-color" $colorKey }}
            {{ with .color }}
            {{ $labelStyle = printf "style=\"background-color: %s;\"" . }}
            {{ end }}
            {{ $swatch = .image }}
            {{ end }}
            {{ end }}

            <label {{with $labelStyle}}{{. | safeHTMLAttr}}{{end}} for="{{$id}}"
              {{ if not .availableInitially }}class="unavailable" {{ end }}>
              <span>{{.value}}</span>
              {{ if $swatch }}
              <img src="{{$swatch}}" alt="{{.value}}">
              {{ end }}
            </label>
          </li>
          {{ end }}
        </ul>
      </fieldset>
      {{ end }}
      {{ end }}

      {{ with site.Data.pixels }}
      {{ if .sizebay_enabled }}
      <div id="sizebay-container"></div>
      {{ end }}
      {{ end }}

      <!-- if this is the size guide section, show tag-based size guide -->
      {{ $size_guide := "" }}
      {{ range $product.Params.tags }}

      {{ $tagData := split . ":" }}
      {{ $tag := index $tagData 0 }}

      {{ range $settings.size_guide }}
      {{ if eq $tag .tag}}
      {{ $size_guide = . }}
      {{ end }}
      {{ end }}

      {{ end }}

      {{ if $size_guide }}
      <div class="size-guide">
        <a href="#" openid="size-guide-modal">
          {{$size_guide.title}}
        </a>
        <!-- modal if specified -->
        {{ with $size_guide.modal }}
        <div class="modal modal--full-width" id="size-guide-modal">
          <div>
            <button class="icon" onclick="event.preventDefault()" close>
              <svg>
                <use xlink:href="#icon-close"></use>
              </svg>
            </button>
            <section class="content-table">
              {{ $content := . | $product.Page.RenderString }}
              {{ $content := replace $content "<table" "<div class=\"content-table__container\"><table" }}
              {{ $content = replace $content "</table>" "</table></div>" }}
              {{$content | safeHTML}}
            </section>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}

      <div>
        <button type="submit" class="btn btn--cta btn--lg product__add-to-cart"
          {{if not $firstAvailableOptions}}disabled{{end}} data-add="{{T "Add to cart"}}" data-sold="{{T "Sold out"}}"
          data-na="{{T "Not available"}}">
          {{ if $firstAvailableOptions }}
          {{T "Add to cart"}}
          {{ else }}
          {{T "Sold out"}}
          {{ end }}
        </button>
        {{ if $settings.klarnabanner }}
        {{ $payment := printf "$%.2f" (float (div .Params.price 4)) }}
        <div class="product__klarna-banner">
          <img src="{{site.BaseURL}}klarna.svg" alt="Klarna logo" width="54" height="30">
          <div>
            4 interest free payments of {{$payment}}. <a
              href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_us/sliceitinx" target="_blank"
              rel="noopener">Learn more</a>
          </div>
        </div>
        {{ end }}


        {{ with or ($settings.paymentlogos) ($settings.payments_benefits_links)}}
        <div class="product__payment-benefits">
          {{ with $settings.paymentlogos }}
          <div class="product__payment-logos">
            {{- range $settings.paymentlogos }}
            {{ if eq .type "External SVG" }}
            <img src="{{.src}}" alt="{{.name}}">
            {{ end }}
            {{ end -}}
          </div>
          {{ end }}

          {{ with $settings.payments_benefits_links }}
          <div class="product__benefits">
            {{ partialCached "product-payments-benefits-links" $ }}
          </div>
          {{ end }}
        </div>
        {{ end }}

      </div>
    </form>

    <div>
      {{ $productFields := split .RawContent "[product]" }}
      {{ $productMain := split (index $productFields 0) "[--Read More--]" }}
      {{ $productDescription := index $productMain 0 }}
      {{ $productReadMore := index $productMain 1 }}

      {{$productDescription | safeHTML}}

      {{ with $productReadMore }}
      <details class="read-more">
        {{$productReadMore | safeHTML}}
        <summary class="link link--no-color">
          <span class="more">{{T "Show More"}}</span>
          <span class="less">{{T "Show Less"}}</span>
        </summary>
      </details>
      {{ end }}

      {{ partialCached "product-links" $ }}
    </div>
  </div>
</div>

<!-- only show tabs if we have product details or reviews are enabled -->
{{ if or (after 1 $productFields) $settings.reviews }}
<section class="tabs">
  {{ range after 1 $productFields }}
  <div class="tab">
    {{ $field := trim (substr . 0 6) "[]" }}
    {{ $contents := substr . 6 }}
    <!-- tabs -->
    <input type="radio" name="tab" id="tab-{{$field}}" {{if eq $field "info"}}checked{{end}}>
    <input type="checkbox" name="acc-{{$field}}" id="acc-{{$field}}">
    <label for="tab-{{$field}}">{{index $settings.accordion $field}}</label>
    <label for="acc-{{$field}}">{{index $settings.accordion $field}}</label>
    <aside>
      <div>
        {{$contents | safeHTML}}
      </div>
      <!-- if this is the info/features section, show tag-based features -->
      {{ if eq $field "info" }}
      <div class="features">
        {{ range $product.Params.tags }}

        {{ $tagData := split . ":" }}
        {{ $tag := index $tagData 0 }}
        {{ $value := index $tagData 1 }}
        <!-- get feature for this tag if exists -->
        {{ range where $settings.features "tag" $tag }}
        {{ $modalid := .title }}
        <!-- feature heading with modal link if modal exists -->
        <div class="feature">
          <div class="feature__title">
            <h3 class="features__heading g-h4">
              {{ if .modal }}
              <a href="#" openid="{{$modalid}}" class="silent-link">
                {{.title}}
              </a>
              {{ else }}
              {{.title}}
              {{ end }}
            </h3>
          </div>
          <!-- modal if specified -->
          {{ with .modal }}
          <div class="modal" id="{{$modalid}}">
            <div>
              <button class="icon" close>
                <svg>
                  <use xlink:href="#icon-close"></use>
                </svg>
              </button>
              {{. | $product.Page.RenderString}}
            </div>
          </div>
          {{ end }}

          <!-- icons -->
          {{ range .values }}
          {{ $iconValue := .value }}
          {{ with partial "helpers/get-image" .icon }}
          {{ $svg := .Content }}
          {{ if eq $iconValue $value }}
          {{ $svg = replace $svg "<svg" "<svg class=\"active\"" }}
          {{ end }}
          {{$svg | safeHTML}}
          {{ end }}
          {{ end }}
          <!-- tag description e.g. "Waterproof level 8000 mm" -->
          <p>
            {{ replace .description "VALUE" $value }}
          </p>
        </div>
        {{ end }}
        {{ end }}
      </div>
      {{ end }}
    </aside>
  </div>
  {{ end }}
  {{ if $settings.reviews }}
  <div class="tab">
    <!-- we need a separate element for the anchor b/c .tab is display:content on desktop -->
    <a id="reviews"></a>
    <input type="radio" name="tab" id="tab-reviews">
    <input type="checkbox" name="acc-reviews" id="acc-reviews">
    <label for="tab-reviews">{{T "Reviews"}}</label>
    <label for="acc-reviews">{{T "Reviews"}}</label>
    <aside>
      {{partial "product-reviews" $product}}
    </aside>
  </div>
  {{ end }}
</section>
{{ end }}

{{ $selectedOptions := dict }}
{{ with $firstAvailableOptions }}
{{ $selectedOptions = . }}
{{ else }}
{{ $selectedOptions = (index $product.Params.variants 0).options }}
{{ end }}
<!-- create variants slice with added image path parameter -->
{{ $variants := slice }}
{{ range .Params.variants }}
{{ $variantImage := "" }}
<!-- this is for the new shopify importer using the media bank -->
{{ with $product.Resources.GetMatch (printf "*-%s/*" .productAndColor) }}
{{ $variantImage = .Name }}
<!-- this is for the original importer with shopify media -->
{{ else }}
{{ if isset . "imageIndex" }}
{{ $imageIndex := .imageIndex }}
{{ with $product.Resources.ByType "image" }}
{{ $variantImage = (index . $imageIndex).Name }}
{{ end }}
{{ end }}
{{ end }}
<!-- add the variant to the list, with image -->
{{ $variants = $variants | append (merge . (dict "imagePath" $variantImage)) }}
{{ end }}
<script>
  handle = '{{.File.ContentBaseName}}';
  variants = {{$variants}};
  yotpoId = '{{.Params.yotpoId}}';
  selectedOptions = {{ $selectedOptions }};
  priceTemplate = '{{T "Product price" (dict "price" "PRICE")}}';
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": {{.Title}},
  {{- with .Resources.ByType "image" }}
  {{- with index . 0 }}
  "image": [
    "{{(.Resize "800x").Permalink}}"
  ],
  {{- end }}
  {{- end }}
  "description": {{.Description}},
  "sku": "{{.Params.handle}}",
  "brand": {
    "@type": "Brand",
    "name": "Reima"
  },
  {{- with .Params.reviewsBottomline }}
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{{.average}}",
    "reviewCount": "{{.count}}"
  },
  {{- end }}
  "offers": {
    "@type": "Offer",
    "url": "{{partial "link" .Permalink}}",
    "priceCurrency": "{{site.Params.public.currency}}",
    "price": "{{.Params.price}}",
    "availability": "https://schema.org/{{if .Params.available}}InStock{{else}}SoldOut{{end}}",
    "seller": {
      "@type": "Organization",
      "name": "Reima USA"
    }
  }
}
</script>

{{ end }}
