{{ $product := partial "helpers/get-product" . }}
{{ $settings := partial "helpers/get-locale-data" "productpage" }}

{{ with $product }}

<div class="product">
  <div>
    {{ $imgs := .Resources.ByType "image" }}
    <r-carousel thumbnails="r-thumbnails">
      <div>
        <!-- sizes: roughly 100vw up to 768px, 40vw but max 536px after that -->
        {{ $sizes := "(min-width: 768px) min(40vw, 536px), 100vw" }}
        {{ with index $imgs 0 }}
        <img srcset="{{partial "srcset" (dict "image" . "widths" "375,750")}}" src="{{(.Resize "375x").RelPermalink}}"
          height="{{.Height}}" width="{{.Width}}" sizes="{{$sizes}}" data-index="{{.Name}}" />
        {{ end }}
        {{ range after 1 $imgs }}
        {{partial "image" (dict "image" . "widths" "375,750" "sizes" $sizes "dataset" (dict "index" .Name))}}
        {{ end }}
      </div>
      {{ if gt (len $imgs) 1 }}
      <button prev></button>
      <button next></button>
      {{ end }}
    </r-carousel>
    <r-thumbnails carousel="r-carousel">
      {{ range $imgs }}
      {{ $sizes := "(min-width: 768px) min(6vw, 82px), 15vw" }}
      {{partial "image" (dict "image" . "widths" "100,200" "sizes" $sizes "dataset" (dict "index" .Name))}}
      {{ end }}
    </r-thumbnails>
  </div>

  <!-- find first available variant options -->
  {{ if not .Params.variants }}
  {{ errorf "%s has no variants" .File.ContentBaseName }}
  {{ end }}
  {{ $firstAvailableVariant := index (where .Params.variants "available" true | first 1) 0 }}
  {{ $firstAvailableOptions := $firstAvailableVariant.options }}

  <div>

    <form action="/cart" method="POST" data-variant="{{$firstAvailableVariant.id}}" id="product-form">
      <!-- TODO: DEPRECATED -->
      <input type="hidden" name="product-id"
        value="{{printf "gid://shopify/Product/%s" .Params.yotpoId | base64Encode}}">
      <h1 id="product-name">
        {{.Title}}
      </h1>
      <div class="product-prices">
        {{ with $firstAvailableVariant }}
        {{partial "product-price" .}}
        {{ else }}
        {{partial "product-price" .Params}}
        {{ end }}
        {{ with partial "helpers/get-reviews-bottomline" $product.Params.yotpoId }}
        <div>
          {{ range seq (math.Round .average) }}★{{ end }} {{ div (math.Round (mul .average 10)) 10 }} ({{.count}})
        </div>
        {{ end }}
      </div>
      {{ range $product.Params.options }}
      {{ $name := .name }}
      {{ $nameEnglish := $name }}
      <!-- see if this is color, and change class name if yes -->
      {{ if eq $nameEnglish site.Params.coloroption }}
      {{ $nameEnglish = "Color" }}
      {{ end }}
      <fieldset class="selections selections--{{$nameEnglish}}">
        <legend>{{.name}} <span id="selected-{{$name}}">{{.firstAvailable}}</span></legend>
        {{ range .values }}
        {{ $id := printf "%s-%s" $name .value}}
        <input type="radio" name="{{$name}}" id="{{$id}}" value="{{.value}}" {{ if .firstAvailable }}checked{{ end }} />

        {{ $labelStyle := "" }}
        {{ $swatch := "" }}
        {{ if eq $nameEnglish "Color" }}
        {{ with partial "helpers/get-color" .value }}
        {{ with .color }}
        {{ $labelStyle = printf "style=\"background-color: %s;\"" . }}
        {{ end }}
        {{ $swatch = .image }}
        {{ end }}
        {{ end }}

        <label {{with $labelStyle}}{{. | safeHTMLAttr}}{{end}} for="{{$id}}"
          {{ if not .availableInitially }}class="unavailable" {{ end }}>
          <span>{{.value}}</span>
          {{ if $swatch }}
          <img src="{{$swatch}}" alt="{{.value}}">
          {{ end }}
        </label>
        {{ end }}
      </fieldset>
      {{ end }}

      <div>
        <button type="submit" class="btn btn--cta product__add-to-cart" {{if not $firstAvailableOptions}}disabled{{end}}
          data-add="{{T "Add to cart"}}" data-sold="{{T "Sold out"}}" data-na="{{T "Not available"}}">
          {{ if $firstAvailableOptions }}
          {{T "Add to cart"}}
          {{ else }}
          {{T "Sold out"}}
          {{ end }}
        </button>
        {{ if $settings.klarnabanner }}
        {{ $payment := printf "$%.2f" (float (div .Params.price 4)) }}
        <div exp-klarna-banner class="product__klarna-banner">
          <img src="/klarna.svg" alt="Klarna logo" width="54" height="30">
          <div>
            4 interest free payments of {{$payment}}. <a
              href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_us/sliceitinx" target="_blank"
              rel="noopener">Learn more</a>
          </div>
        </div>
        {{ end }}
        <div class="product__payment-logos">
          {{- range $settings.paymentlogos }}
          {{ if eq .type "External SVG" }}
          <img src="{{.src}}" alt="{{.name}}">
          {{ end }}
          {{ end -}}
        </div>
      </div>
    </form>

    <div class="description">
      {{ $productFields := split .RawContent "[product]" }}
      {{ $productMain := split (index $productFields 0) "[--Read More--]" }}
      {{ $productDescription := index $productMain 0 }}
      {{ $productReadMore := index $productMain 1 }}

      {{$productDescription | safeHTML}}

      {{ with $productReadMore }}
      <div class="read-more">
        <div>
          {{$productReadMore | safeHTML}}
        </div>
        <a href="#" class="more" openid="parent">{{T "Show More"}}</a>
        <a href="#" class="less" openid="parent">{{T "Show Less"}}</a>
      </div>
      {{ end }}

      {{ range $settings.links }}
      {{ if eq .type "link" }}
      <p><a href="{{.link}}" target="_blank">{{.title}}</a></p>
      {{ else if eq .type "modal" }}
      {{ $id := .title }}
      <p><a href="#" openid="{{$id}}">{{.title}}</a></p>
      <div class="modal" id="{{$id}}">
        <div>
          <button class="icon" close>
            <svg>
              <use xlink:href="#icon-close"></use>
            </svg>
          </button>
          {{.content | markdownify}}
        </div>
      </div>
      {{ else }}
      {{ warnf "Wrong link type %s at %s" .type $ }}
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>

<section class="tabs">
  {{ range after 1 $productFields }}
  {{ $field := trim (substr . 0 6) "[]" }}
  {{ $contents := substr . 6 }}
  <!-- this controls tab visibility on >768w -->
  <input type="radio" name="tab" id="{{$field}}" {{if eq $field "info"}}checked{{end}}>
  <details>
    <summary>
      <!-- need a label here for the input -->
      <label for="{{$field}}">
        {{index $settings.accordion $field}}
      </label>
    </summary>
    <div>
      {{$contents | safeHTML}}
      <!-- if this is the info/features section, show tag-based features -->
      {{ if eq $field "info" }}
      <div class="features">
        {{ range $product.Params.tags }}
        {{ $tagData := split . ":" }}
        {{ $tag := index $tagData 0 }}
        {{ $value := index $tagData 1 }}
        <!-- get feature for this tag if exists -->
        {{ range where $settings.features "tag" $tag }}
        {{ $modalid := .title }}
        <!-- feature heading with modal link if modal exists -->
        <div>
          <h3 class="features__heading">
            {{ if .modal }}
            <a href="#" openid="{{$modalid}}" class="silent-link">
              {{.title}}
            </a>
            {{ else }}
            {{.title}}
            {{ end }}
          </h3>
        </div>
        <!-- modal if specified -->
        {{ with .modal }}
        <div class="modal" id="{{$modalid}}">
          <div>
            <button class="icon" close>
              <svg>
                <use xlink:href="#icon-close"></use>
              </svg>
            </button>
            {{. | markdownify}}
          </div>
        </div>
        {{ end }}
        <!-- icons -->
        {{ range .values }}
        {{ $iconValue := .value }}
        {{ with partial "helpers/get-image" .icon }}
        {{ $svg := .Content }}
        {{ if eq $iconValue $value }}
        {{ $svg = replace $svg "<svg" "<svg class=\"active\"" }}
        {{ end }}
        {{$svg | safeHTML}}
        {{ end }}
        {{ end }}
        <!-- tag description e.g. "Waterproof level 8000 mm" -->
        <p>
          {{ replace .description "VALUE" $value }}
        </p>
        {{ end }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </details>
  {{ end }}
  {{ if $settings.reviews }}
  <input type="radio" name="tab" id="reviews">
  <details class="reviews">
    <summary>
      <label for="reviews">
        {{T "Reviews"}}
      </label>
    </summary>
    <div>
      <div>
        <details class="reviews__write">
          <summary class="link" load="partials/elements/r-review.ts">{{T "Write a review"}}</summary>
          <form name="review">
            <h3>{{T "Write a review"}}</h3>
            <fieldset>{{T "Review Score"}}
              <div>
                <div class="stars">
                  <input required type="radio" name="score" id="5star" value="5">
                  <label for="5star"></label>
                  <input required type="radio" name="score" id="4star" value="4">
                  <label for="4star"></label>
                  <input required type="radio" name="score" id="3star" value="3">
                  <label for="3star"></label>
                  <input required type="radio" name="score" id="2star" value="2">
                  <label for="2star"></label>
                  <input required type="radio" name="score" id="1star" value="1">
                  <label for="1star"></label>
                </div>
              </div>
            </fieldset>
            <label>{{T "Review Title"}} <input required name="title" type="text"></label>
            <label>{{T "Review Text"}} <textarea required name="content" name="review" id="" cols="30"
                rows="10"></textarea></label>
            <label>{{T "Review Name"}} <input required name="name" type="text"></label>
            <label>{{T "Review Email"}} <input required name="email" type="email"></label>
            <p error></p>
            <div><button class="btn btn--cta" type="submit">{{T "Review Submit"}}</button></div>
          </form>
          <p class="thank-you text-center">
            {{T "Review Thank you"}}
          </p>
        </details>
        {{ range partial "helpers/get-reviews" $product.Params.yotpoId }}
        <blockquote>
          <header>
            <span class="name">{{.name}}</span> {{ if .verified }}{{T "Review Verified Buyer"}}{{ end }}
            <span class="date">{{index (split .created_at "T") 0}}</span>
            <div class="stars">
              {{ range seq .score }}★{{ end }}
            </div>
          </header>
          <!-- yotpo seems to escape html, so assuming it's safe -->
          <h3>{{.title | safeHTML}}</h3>
          <p>
            {{.content | safeHTML}}
          </p>
        </blockquote>
        {{ else }}
        <p>
          {{T "No reviews"}}
        </p>
        {{ end }}
      </div>
    </div>
  </details>
  {{ end }}
</section>

{{ $selectedOptions := dict }}
{{ with $firstAvailableOptions }}
{{ $selectedOptions = . }}
{{ end }}
<script>
  handle = '{{.File.ContentBaseName}}';
  variants = {{.Params.variants }};
  yotpoId = '{{.Params.yotpoId}}';
  selectedOptions = {{ $selectedOptions }};
  priceTemplate = '{{T "Product price" (dict "price" "PRICE")}}';
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": {{.Title}},
  {{- with .Resources.ByType "image" }}
  {{- with index . 0 }}
  "image": [
    "{{(.Resize "800x").Permalink}}"
  ],
  {{- end }}
  {{- end }}
  "description": {{.Description}},
  "sku": "{{.Params.handle}}",
  "brand": {
    "@type": "Brand",
    "name": "Reima"
  },
  {{- with .Params.reviewsBottomline }}
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{{.average}}",
    "reviewCount": "{{.count}}"
  },
  {{- end }}
  "offers": {
    "@type": "Offer",
    "url": "{{partial "link" .Permalink}}",
    "priceCurrency": "{{site.Params.public.currency}}",
    "price": "{{.Params.price}}",
    "availability": "https://schema.org/{{if .Params.available}}InStock{{else}}SoldOut{{end}}",
    "seller": {
      "@type": "Organization",
      "name": "Reima USA"
    }
  }
}
</script>

{{ end }}