.product {
  margin: 2rem 0 4rem;
}

.product-prices {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.product-prices .price {
  font-size: 1.375rem;
}

/* review stars are in a div */
.product-prices > div {font-size: 1.125rem;letter-spacing: 0.5px;line-height: 1.5;margin-left: auto;}

.selections {
  margin: 1rem 0;
  border: none;
  padding: 0;
}

.selections legend {
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  padding: 0;
  margin: 0.75rem 0;
}

.selections legend span {
  font-weight: normal;
  text-transform: initial;
  letter-spacing: normal;
}

.selections legend span:not(:empty)::before {
  content: '—';
  margin-right: 0.25rem;
}

.selections input {
  position: absolute;
  visibility: hidden;
}

.selections label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.selections label.unavailable {
  opacity: 0.5;
}

.selections label.unavailable::before {
  height: 1px;
  width: 80%;
  background: #38383b;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 10%;
  transform: rotate(-12deg);
}

.selections legend span {
  display: none;
}

.selections label {
  box-shadow: 0 0 0 1px #bfbfbf;
  padding: 0.375rem 0.5rem;
  margin: 0 0.25rem 0.5rem 0;
}

.selections input:checked + label {
  box-shadow: 0 0 0 2px #38383b;
}

.selections--Color legend span {
  display: inline;
}

.selections--Color label {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}

.selections--Color label span {
  display: none;
}

.selections--Color label img {
  width: 100%;
  height: 100%;
}

.selections--Color label.unavailable::before {
  transform: rotate(-45deg);
  width: 100%;
  left: 0;
}

.selections--Color label::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid white;
  border-radius: 50%;
  background: transparent;
  box-sizing: border-box;
  opacity: 0;
}

.selections--Color input:checked + label::after {
  opacity: 1;
}

@media (min-width: 768px) {
  .product {
    display: flex;
    margin: 0 -20px 2rem;
  }

  .product > * {
    margin: 20px;
    flex: 1 0 50%;
  }

  .product > *:first-child {
    flex-basis: 40%;
  }
}

.description {
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.description a {
  text-decoration: none;
  border-bottom: 2px solid rgba(56,56,59,0.1);
  color: inherit;
}

.read-more > div,
.read-more .less {
  display: none;
}

.read-more.open > div,
.read-more.open .less {
  display: unset;
}

.read-more.open .more {
  display: none;
}

.accordion {
  border-bottom: 1px solid #bfbfbf;
  border-top: 1px solid #bfbfbf;
  margin-top: 2rem;
}

.accordion + .accordion {
  margin-top: unset;
  border-top: unset;
}

.accordion > a {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.2em;
  padding: 1.25rem 0;
  border-bottom: none;
}

.accordion > :not(a) {
  display: none;
}

.accordion.open > a {
  padding-bottom: 0;
}

.accordion.open > :not(a) {
  display: block;
}

.features__heading {
  display: inline-block;
  margin: 0 0 1rem;
  font-weight: 700;
  font-size: inherit;
}

.features__heading a {
  border-bottom: none;
}

.features__heading a::after {
  content: 'i';
  width: 1rem;
  height: 1rem;
  display: inline-flex;
  line-height: 1;
  justify-content: center;
  color: white;
  background: #ff5c38;
  border-radius: 50%;
  font-size: 0.75em;
  align-items: center;
  text-align: center;
  margin-left: 0.25rem;
}

.features > div > a:hover {
  color: #ff5c38;
}

.features > svg {
  width: 50px;
}

.features > svg + svg {
  margin-left: 0.25rem;
}

.features > svg, .features > svg path {
  fill: #bfbfbf !important;
}

.features svg.active,
.features svg.active path {
  fill: #38383b !important;
}

.features p {
  margin-top: 0.25rem;
}

.social-sharing {
  letter-spacing: 0.025em;
  line-height: 1.5;
  margin-top: 2rem;
}

.social-sharing a {
  display: inline-flex;
  color: inherit;
  font-size: 1rem;
  margin: 0 10px 0 0;
  text-decoration: none;
}

.social-sharing svg {
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.5rem;
}