<!--
  Output display prices for a particular product.

  Expected parameter:
  Product page parameters or variant
  OR dict with the following parameters:
  - hasPriceRange
  - price
  - priceFormatted
  - compareAtPrice
  - compareAtPriceFormatted
  - [handle] only used for logging

  Dependencies:
  typography.css
 -->

{{- $priceSpan := partial "product-price-inner" . }}

{{- if .hasPriceRange }}
{{T "Product price with price range" (dict "price" $priceSpan) | safeHTML}}
{{- else }}
{{$priceSpan}}
{{- end }}

{{- define "partials/product-price-inner" }}
{{- $discountPercentage := 0 }}
{{- $showDiscountPercentageTag := false }}
{{- if .compareAtPrice }}
  {{ $diff := (float (sub .compareAtPrice .price)) }}
  {{ $discountPercentage = math.Round (mul (div $diff .compareAtPrice) 100) }}
{{end}}

{{ with site.Data.themesettings }}
{{ if .show_discount_tags }}
  {{ $showDiscountPercentageTag = .show_discount_tags }}
{{ end }}
{{ end }}

{{ $class := "price price--actual" }}
{{if .compareAtPrice}}
{{ $class = printf "%s price--sale" $class }}
{{end}}
{{if and $showDiscountPercentageTag .compareAtPrice}}
{{ $class = printf "%s price--sale-tag" $class }}
{{end}}
<span class="{{$class}}" data-discount="{{if $discountPercentage}} {{ (mul $discountPercentage -1)}}% {{end}}">
  {{- with .priceFormatted }}
  {{T "Product price" (dict "price" .) }}
  {{- else }}
  {{- warnf "Formatted price not found! (%s)" .handle }}
  {{- end }}
</span>
{{- end }}

<!-- we need to output the span because it might be needed on the product page -->
<span class="price price--was">
  {{- with .compareAtPriceFormatted }}
  {{.}}
  {{- end }}
</span>
