.reviews__write {
  margin: var(--content-padding) 0;
}

.reviews__write summary {
  display: block;
}

.reviews__write summary::-webkit-details-marker,
.reviews__write summary::marker {
  display: none;
  content: '';
}

.reviews > * .thank-you {
  display: none;
}

.reviews > *.thank-you .thank-you {
  display: block;
  flex-basis: 100%;
  margin-bottom: 2rem;
}

.reviews form > * {
  display: block;
  max-width: 500px;
  margin: 1rem auto;
  border: none;
  padding: 0;
  text-align: left;
}

.reviews form textarea,
.reviews form input {
  display: block;
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
}

.reviews form .stars {
  display: inline-flex;
  flex-direction: row-reverse;
  font-size: 1.75rem;
  margin-right: auto;
  position: relative;
}

.reviews .stars input {
  width: unset;
  position: absolute;
  top: 50%;
  right: 1em;
  opacity: 0;
}

.reviews .stars label::before {
  content: "★";
  color: var(--color-input-border);
}

.reviews .stars input:checked + label::before,
.reviews .stars input:checked ~ label::before {
  color: var(--color-primary);
}

.reviews div .stars:hover label::before {
  color: var(--color-input-border);
}

.reviews div .stars label:hover::before,
.reviews .stars label:hover ~ label::before {
  color: var(--color-primary);
}

.reviews blockquote {
  margin: 0;
  font-size: 1rem;
  padding: 0;
}

.reviews blockquote + blockquote {
  border-top: var(--input-border);
  padding-top: var(--content-padding);
  margin-top: var(--content-padding);
}

.reviews blockquote h3 {
  margin: 0.5rem 0;
}

.reviews blockquote p {
  margin: 0;
}

.reviews blockquote .name {
  font-weight: 700;
}

.reviews blockquote .date {
  float: right;
}

.reviews blockquote .stars {
  font-size: 1.5rem;
  line-height: 1;
  margin: 0.5rem auto;
}
