<!-- 
  DEPRECATED

  Output a product card for a particular product.

  Expected parameter:
  Product page (can be a page nested inside collections)

  Dependencies:
  product-card.css
 -->

{{ $link := partial "link" .RelPermalink }}
{{ with .GetPage (printf "/products/%s" .File.ContentBaseName) }}
<a href="{{$link}}" class="product-card{{if not .Params.available}} sold-out{{end}}">
  {{ with .Resources.ByType "image" | first 1 }}
  {{partial "image" (dict "image" (index . 0) "widths" "200,400")}}
  {{ end }}
  <div class="color-dots">
    {{ $coloroption := "Color" }}
    {{ with site.Params.coloroption }}
    {{ $coloroption = . }}
    {{ end }}
    {{ range (apply (apply .Params.variants "index" "." "options") "index" "." $coloroption) | uniq }}
    {{ with partial "helpers/get-color" . }}
    <div {{with .color}}style="background-color: {{.}};"{{end}}>
      {{ if .image }}
      <img src="{{.image}}" alt="{{.name}}">
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
  </div>
  <h2>{{.Title}}</h2>
  <div class="text-center">
    {{partial "product-price" .Params}}
  </div>
  {{ with .Params.reviewsBottomline }}
  <div class="text-center">
    {{ range seq (math.Round .average) }}★{{ end }} {{ div (math.Round (mul .average 10)) 10 }} ({{.count}})
  </div>
  {{ end }}
  <div class="sold-out-tag">Sold Out</div>
</a>
{{ else }}
{{ warnf "Could not find product %s (%s %s %s)" .File.ContentBaseName .Dir .Kind .Type }}
{{ end }}