.overlay {
  display: none;
  background: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

input:checked + .overlay,
.overlay.open {
  display: block;
}

.overlay > * {
  background: white;
  display: block;
}

#cart > div {
  display: block;
  width: 80%;
  height: 100%;
  margin-left: auto;
  contain: layout;
  max-width: 400px;
}

#cart input::-webkit-outer-spin-button,
#cart input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cart input[type=number] {
  -moz-appearance:textfield;
}
