input[type="checkbox"][id|="open"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.announcement {
  width: 100%;
  background-color: #f2f2f5;
  padding: 6px 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.875rem;
}

.announcement a {
  color: inherit;
  text-decoration: none;
}

body > header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #bfbfbf;
  padding: 10px 0;
  background: #fff;
  z-index: 1;
}

.menu {
  display: flex;
  align-items: center;
}

.menu input:focus + label.menu__hamburger {
  outline: var(--focus-outline);
  outline-offset: 2px;
}

/* this is the menu opener label */
.menu__hamburger {
  margin-right: 14px;
}

.logo-link {
  margin: 14px 14px 14px 0;
  flex: 1;
  display: flex;
}

.logo-link svg {
  display: block;
}

header .icons {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: column;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.icon + .icon {
  margin-left: 1rem;
}

.icon:hover {
  fill: #ff5c38;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.overlay {
  display: none;
}

#menu > * {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1 0 100%;
  overflow: auto;
}

#menu li {
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#menu li label {
  padding: 0.2rem;
  box-sizing: border-box;
}

#menu input:checked + label svg {
  transform: rotate(180deg);
}

#menu ul a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 1.25em;
  padding: 0.5rem 0;
  flex: 1 0 auto;
}

#menu ul ul li {
  padding-right: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#menu ul ul a {
  font-weight: 400;
  font-size: 1.125em;
  padding: 0.5rem 1rem;
}

#menu li > ul {
  display: none;
}

#menu input:checked ~ ul {
  display: initial;
}

#menu svg {
  display: block;
}

#menu h1 {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

@media (min-width: 1024px) {
  #menu.overlay {
    display: block;
    position: static;
    background: transparent;
    width: unset;
    height: unset;
    flex: 1;
  }

  #menu > * {
    display: block;
    width: 100%;
  }

  #menu.overlay h1 {
    display: none;
  }

  #menu ul {
    overflow: visible;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  #menu ul a {
    font-size: 1.125rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  #menu ul a:hover {
    color: #ff5c38;
  }

  #menu ul ul label {
    margin-right: 0.5rem;
  }

  #menu input:checked + label svg {
    transform: none;
  }

  #menu ul ul li > label svg ,
  #menu ul ul input:checked + label svg {
    transform: rotate(270deg);
  }
  
  #menu ul ul li:hover {
    background-color: #f2f2f2;
  }

  #menu ul ul li:hover label {
    fill: #ff5c38;
  }

  #menu ul ul li {
    padding: 0;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
  
  #menu li {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    flex: 0 1 auto;
  }
  
  #menu ul ul,
  #menu input:checked ~ ul {
    display: none;
  }

  #menu li:hover > ul {
    display: block;
    position: absolute;
    background: white;
    left: 0;
    padding: 0;
    top: 100%;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.09);
    z-index: 1;
  }

  #menu ul ul li:hover > ul {
    left: 100%;
    top: 0;
  }

  label[for="open-menu"] {
    display: none;
  }

  .logo-link {
    flex: 0 0 auto;
    order: -1;
  }
}


