{{ define "dependencies" }}
{{ range .Params.main }}
{{ $.Scratch.Add "css-critical" (printf "modules/%s" .template) }}
{{ end }}
{{ range .Params.banner }}
{{ $.Scratch.Add "css-critical" (printf "modules/%s" .template) }}
{{ end }}
{{ $.Scratch.Add "css-critical" "pages/collection" }}
{{ end }}

{{ define "main" }}

{{ $hassidebar := or .Params.categories .Params.purposes .Params.filters }}

<div class="grid{{if $hassidebar}} grid--has-sidebar{{end}}">
  {{ with .Params.banner }}
  <div class="grid__banner">
    {{ range . }}
    {{ partial (printf "modules/%s" .template) . }}
    {{ end }}
  </div>
  {{ end }}

  <div class="grid__main">
    {{ with .Title }}
    <div class="grid__title">
      <h1>{{.}}</h1>
    </div>
    {{ end }}

    <div class="grid__modules">
      {{ range $i, $v := .Params.main }}

      {{ if and (ne .template "hero") (ne $i 0)}}
      <hr>
      {{ end }}

      {{ if eq .template "categories" }}
      {{ partial (printf "modules/%s" .template) $.Params.categories }}
      {{ else if eq .template "purposes" }}
      {{ partial (printf "modules/%s" .template) $.Params.purposes }}
      {{ else }}
      {{ partial (printf "modules/%s" .template) . }}
      {{ end }}

      {{ end }}
    </div>
  </div>

  {{ if $hassidebar }}
  <div class="grid__sidebar">
    {{ if or .Params.categories .Params.purposes }}
    <div class="grid__categories">
      <hr>
      <div class="category-list">
        {{ with .Params.categories }}
        <input type="checkbox" id="categories-opener">
        <label for="categories-opener" class="categories">
          <h2>Shop by category <span></span></h2>
        </label>
        {{ template "categories" . }}
        {{ end }}
        {{ with .Params.purposes }}
        <hr>
        <h2>Shop by purpose</h2>
        {{ template "categories" . }}
        {{ end }}
      </div>
    </div>
    {{ end }}

    {{ if and .Params.filters .Site.Params.public.algolia }}
    <div class="grid__filters">
      <hr>
      <form id="filters" class="filter-list">
        <!-- get all available options in child (product) pages -->
        {{- range .Pages }}
        {{- $handle := "" }}
        {{- with .File }}
        {{- $handle = .ContentBaseName}}
        {{- end }}
        {{- with .GetPage (printf "/products/%s" $handle) }}
        {{- range $key, $value := .Params.filtering }}
        {{- if not ($.Scratch.Get "options") }}
        {{- $.Scratch.Set "options" dict }}
        {{- end }}
        {{- $current := index ($.Scratch.Get "options") $key }}
        {{- if not $current }}
        {{- $current = slice }}
        {{- end }}
        {{- $.Scratch.SetInMap "options" $key ($current | append $value | uniq) }}
        {{- end }}
        {{- end }}
        {{- end }}

        {{- $options := $.Scratch.Get "options" }}
        {{- if not $options }}
        {{- $options = dict }}
        {{- end }}

        <label class="btn btn--secondary filter-list__open" for="filters-open">
          Filter selection
        </label>
        <input type="checkbox" name="filters-open" id="filters-open" class="filter-list__open-checkbox">
        {{ range $.Site.Data.features.order }}
        {{ $name := lower . }}
        {{ with index $options . }}
        {{ $values := . }}
        <div>
          <input type="checkbox" name="open-{{$name}}" id="open-{{$name}}" class="filter-list__name-checkbox">
          <label for="open-{{$name}}" class="filter-list__name">
            {{ with T (printf "Product feature: %s" $name) }}
            {{.}}
            {{ else }}
            {{$name}}
            {{ end }}
          </label>
          {{ $order := index $.Site.Data.features $name }}
          {{ range partial "helpers/order" (dict "array" $values "order" $order) }}
          <input type="checkbox" name="filtering.{{$name}}" value="{{.}}" id="{{$name}}-{{.}}" class="filter-list__value-checkbox">
          <label for="{{$name}}-{{.}}" class="filter-list__value btn btn--secondary">
            {{ if eq $name "color" }}
            <span style="background-color: {{index $.Site.Data.colors (. | lower)}};"></span>
            {{ end }}
            {{ with T (printf "Product feature description: %s" $name) . }}
            {{.}}
            {{ else }}
            {{.}}
            {{ end }}
          </label>
          {{ end }}
        </div>
        <hr>
        {{ end }}
        {{ end }}
        <input type="reset" class="filter-list__clear" value="Clear filters">
      </form>
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>

{{ end }}

{{ define "categories" }}
{{ with . }}
<ul>
  {{ range . }}
  <li>
    <a href="/collections/{{.collection}}">{{ .heading }}</a>
    {{ template "categories" .categories }}
  </li>
  {{ end }}
</ul>
{{ end }}
{{ end }}