:root {
  --block-width: 1280px;
}

.sidebar {
  --block-margin: var(--content-padding) auto;
}

.sidebar__main h1 {
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
}

.sidebar__main h2 {
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
}

/* make content module left-aligned */
.sidebar__main .module-content {
  margin-left: 0;
}

.category-list {
  padding: var(--block-padding);
  margin: var(--block-margin);
}

.category-list h2 {
  font-size: 0.875rem;
  letter-spacing: .03rem;
  line-height: 1.375;
  text-transform: uppercase;
}

/* normalize ul */
.category-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make links discreet */
.category-list ul a {
  color: #38383b;
  text-decoration: none;
  display: block;
  padding: .25rem 0;
}

/* hide checkbox */
#categories-opener {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

/* categories label */
.categories {
  cursor: pointer;
}

.categories > h2 {
  display: flex;
  justify-content: space-between;
}

.categories > h2 span::before {
  content: '+';
}

/* hide categories by default */
.categories + ul {
  display: none;
}

/* do this when categories checked (open) */
#categories-opener:checked + label + ul {
  display: block;
}

#categories-opener:checked + label h2 span::before {
  content: '-';
}

/* categories: add margins and adjust font weight at different levels */
.categories + ul > li {
  margin-top: 1rem;
}

.categories + ul {
  font-weight: 700;  
}

.categories + ul li li {
  font-weight: 400;
}

@media (min-width: 992px) {
  .sidebar {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-areas:
      "banner banner"
      "sidebar content";
    padding: var(--block-padding);
    margin: var(--block-margin);
    max-width: var(--block-width);
    --inner-spacing: 1.5rem;
  }
  
  .sidebar__main hr {
    margin-left: var(--inner-spacing);
  }
  
  .sidebar__banner {
    grid-area: banner;
  }
  
  .sidebar__sidebar {
    --block-padding: 0 var(--inner-spacing) 0 0;
    grid-area: sidebar;
  }

  .sidebar__sidebar > hr {
    display: none;
  }
  
  .sidebar__main {
    --block-padding: 0 0 0 var(--inner-spacing);
    grid-area: content;
  }

  .category-list {
    height: calc(100% - var(--content-padding));
    border-right: var(--border);
  }

  .categories {
    cursor: default;
  }

  .categories span {
    display: none;
  }

  .categories + ul {
    display: block;
  }
}