{{ define "dependencies" }}
{{ $.Scratch.Add "css-critical" "partials/product-reviews.css" }}
{{ $.Scratch.Add "css-critical" "partials/elements/r-carousel.css" }}
{{ $.Scratch.Add "css-critical" "partials/elements/r-thumbnails.css" }}
{{ $.Scratch.Add "css-critical" "partials/product.css" }}
{{ $.Scratch.Add "css-critical" "partials/breadcrumb.css" }}
{{ $.Scratch.Add "css-critical" "partials/product.modal.css" }}
{{ $.Scratch.Add "ts" "partials/product.ts" }}
{{ $.Scratch.Add "ts" "partials/elements/r-carousel.ts" }}
{{ $.Scratch.Add "ts" "partials/elements/r-thumbnails.ts" }}
{{ $.Scratch.Add "ts-lazy" "partials/elements/r-review.ts" }}
{{ $.Scratch.Add "css-critical" "partials/modules/content-table.css" }}
{{ end }}

{{ define "canonical" }}
{{- with partial "helpers/get-product" . -}}
<link rel="canonical" href="{{partial "link" .Permalink}}">
{{- end -}}
{{ end }}

{{ define "main" }}

{{partial "breadcrumb" $}}
{{partialCached "product" $ .File.ContentBaseName}}

{{ end }}

{{ define "scripts" }}
{{ partial "partials/pixels/sizebay" .}}
{{ end }}
