{{ define "dependencies" }}
{{ $.Scratch.Add "css-critical" "partials/product-reviews" }}
{{ $.Scratch.Add "css-critical" "partials/elements/r-carousel" }}
{{ $.Scratch.Add "css-critical" "partials/elements/r-thumbnails" }}
{{ $.Scratch.Add "css-critical" "partials/product" }}
{{ $.Scratch.Add "css-critical" "partials/breadcrumb" }}
{{ $.Scratch.Add "css-critical" "modal-critical" }}
{{ $.Scratch.Add "css-async" "modal" }}
{{ $.Scratch.Add "ts" "partials/product.ts" }}
{{ $.Scratch.Add "ts" "partials/elements/r-carousel.ts" }}
{{ $.Scratch.Add "ts" "partials/elements/r-thumbnails.ts" }}
{{ $.Scratch.Add "ts-lazy" "partials/elements/r-review.ts" }}
{{ end }}

{{ define "canonical" }}
{{ $product := partial "helpers/get-product" . }}
<link rel="canonical" href="{{partial "link" $product.Permalink}}">
{{ end }}

{{ define "main" }}

{{partial "breadcrumb" $}}
{{partialCached "product" $ .File.ContentBaseName}}

{{ end }}